<li>
    <%= link_to product.name, product_path(product) %>
    <ul>
        <%= render partial: 'product_variant',
            collection: product.product_variants.order(:name),
            locals: { product: },
            cached: ->(product_variant) { [product_variant, product] }
        %>
    </ul>
</li>