<% if user.avatar.attached? %>
  <%= image_tag cdn_image_url(user.avatar.variant(format: :webp)), width: size, height: size, "aria-hidden": "true", alt: "", class: "Avatar", style: "--size: #{size};" %>
<% else %>
  <div class="Avatar" style="--size: <%= size %>;">
    <%= user.user_name.first %>
  </div>
<% end %>
