<% size ||= nil %>
<% if user.avatar.attached? %>
  <picture>
    <%= image_tag cdn_image_url(user.avatar.variant(:thumb)), "aria-hidden": "true", alt: "", class: "Avatar", style: ("--size: #{size};" unless size.nil?) %>
  </picture>
<% else %>
  <div class="Avatar" <% if size %>style="--size: <%= size %>;"<% end %>>
    <span class="Avatar-letter">
      <%= user.user_name.first %>
    </span>
  </div>
<% end %>
