<% path ||= nil %>
<% if path.nil? && request.referer != request.url %>
  <% path = request.referer %>
<% end %>

<%= link_to path, class: 'BackLink' do %>
  &larr; <span class="BackLink-label"><%= t('back') %></span>
<% end %>
