<dialog id="options-dialog">
  <form method="dialog">
    <div class="Rte">
      <h3>What are options?</h3>
      <p>Typical options are for example the length of a cable or the color of a product.</p>
      <p>Please add all possible options or combinations of options via the text fields.</p>
      <p>For example, if a product has different types of options, please add all possible combinations:</p>
      <ul>
        <li>1m / black</li>
        <li>2m / black</li>
        <li>1m / red</li>
        <li>2m / black</li>
      </ul>
      <p>Some brands also use different model numbers for each option. Please add them as well if available.</p>
    </div>
    <div class="u-flex u-justifyEnd">
      <button>Close</button>
    </div>
  </form>
</dialog>
