<td class="Table-sm">
  <% if item.period_from.present? || item.price_purchase.present? || item.purchase_condition.present? %>
    <% if item.period_from.present? %>
      <time datetime="<%= item.period_from %>"><%= format_date(item.period_from).html_safe %></time>
    <% end %>
    <% if item.price_purchase.present? %>
      <% if item.period_from.present? %><br><% end %>
      <span class="u-noWrap"><%= display_price(item.price_purchase, item.price_purchase_currency) %></span>
    <% end %>
    <% if item.purchase_condition.present? %>
      <% if item.period_from.present? || item.price_purchase.present? %><br><% end %>
      <span class="u-noWrap"><%= item.purchase_condition_label %></span>
    <% end %>
  <% else %>
    -
  <% end %>
</td>
