<li class="EntityList-item is-<%= product.discontinued? ? "discontinued" : "continued" %>">
    <% presenter = ProductItemPresenter.new(product, user_signed_in?) %>
    <%= render "shared/product_item",
        item: presenter,
        name: presenter.name,
        path: presenter.path,
        brand: presenter.brand,
        model_no: presenter.model_no,
        variant_name: presenter.variant_name,
        item_type: presenter.item_type,
        diy_kit: presenter.diy_kit?,
        custom_attributes: presenter.custom_attributes,
        sub_category_names: presenter.sub_category_names,
        hide_brand: hide_brand,
        hide_category: hide_category,
        is_discontinued: presenter.discontinued?
    %>
</li>