<dl class="SymbolsLegend">
  <div class="SymbolsLegend-item">
    <dt>
      <span class="Symbol Symbol--iconOnly Symbol--positive">✓</span>
    </dt>
    <dd>
      <%= t('symbols.in_your_collection') %>
    </dd>
  </div>
  <div class="SymbolsLegend-item">
    <dt>
      <span class="Symbol Symbol--iconOnly Symbol--positive">B</span>
    </dt>
    <dd>
      <%= t('symbols.in_your_bookmarks') %>
    </dd>
  </div>
  <div class="SymbolsLegend-item">
    <dt>
      <span class="Symbol Symbol--iconOnly">D</span>
    </dt>
    <dd>
      <%= t('symbols.discontinued') %>
    </dd>
  </div>
</dl>
