<dl class="SymbolsLegend">
  <div class="SymbolsLegend-item">
    <dt>
      <span class="Symbol Symbol--positive">✓</span>
    </dt>
    <dd>
      <%= t('symbols.in_your_collection') %>
    </dd>
  </div>
  <div class="SymbolsLegend-item">
    <dt>
      <span class="Symbol">D</span>
    </dt>
    <dd>
      <%= t('symbols.discontinued') %>
    </dd>
  </div>
</dl>
