<% content_for :header do %>
  <div class="Heading">
    <h1>Hi-Fi Events &amp; Shows</h1>

    <form class="u-flex u-gap-md u-alignCenter">
      <label for="events-filter">Countries</label>
      <%= country_select(nil,
        "country",
        {
        only: @country_codes,
          include_blank: "All",
          selected: params[:country]&.upcase
        },
        {
          id: "events-filter"
        })
      %>
    </form>
  </div>

  <% filtered_country_name = country_name_from_country_code(params[:country]) if params[:country].present? %>
  <p class="u-textCenter">
    <small><%= filtered_country_name.present? ? "#{@events.count} upcoming events in #{filtered_country_name}" : "#{@events.count} upcoming events worldwide." %></small>
  </p>
<% end %>

<%= render "shared/events", events: @events, empty_state_message: t('event_attendee.empty_states.index') %>
