<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= t('headings.current_products') %></h1>
    <%= render "shared/category_filter", categories: @categories, sub_category: @sub_category %>
  </div>

  <%= render "shared/products",
    items: @possessions,
    empty_state: t('empty_state.user_products', brands_path: brands_path, products_path: products_path),
    include_setup: true,
    hide_period: true,
    delete_dialog: true
  %>
<% end %>
