<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.prev_owneds') %></h1>
    <%= render "shared/category_filter", categories: @categories %>
  </div>

  <%= render "shared/products",
    items: @possessions,
    sub_category: @sub_category,
    reset_path: @reset_path,
    empty_state: t('empty_state.prev_owneds'),
    brands_path: brands_path,
    products_path: products_path,
    include_images: true,
    include_image_upload: true,
    include_delete_button: true,
    delete_button_label: t('remove_product_from_prev_owneds.label'),
    delete_confirm_msg: 'remove_product_from_prev_owneds.confirm'
  %>
<% end %>
