<%= render layout: "shared/dashboard", locals: { active_dashboard_menu: @active_dashboard_menu } do %>
  <div class="Heading">
    <h1><%= t('headings.prev_owneds') %></h1>
    <%= render "shared/category_filter", categories: @categories, sub_category: @sub_category %>
  </div>

  <%= render "shared/products",
    items: @possessions,
    empty_state: t('empty_state.prev_owneds'),
    hide_since: true
  %>
<% end %>
