<% content_for :css do %>
  <%= stylesheet_link_tag "amp_to_headphone_calculator", crossorigin: true, integrity: true %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag "amp_to_headphone_calculator", defer: true, nonce: true, crossorigin: true, integrity: true %>
  <%= javascript_include_tag "alpine", defer: true, nonce: true, crossorigin: true, integrity: true %>
<% end %>

<div class="Calculator" x-data>
  <h1>Calculate Resistors for an Amplifier-to-Headphone Adapter</h1>

  <p>Based on the <a href="https://robrobinette.com/HeadphoneResistorNetworkCalculator.htm">Headphone Resistor Network Calculator</a> by Rob Robinette.</p>

  <form class="Settings">
    <fieldset>
      <legend>Headphones</legend>

      <div class="FormElements">
        <template x-for="(imp, i) in $store.settings.impedance" :key="i">
          <div class="u-flex u-alignCenter u-gap-md">
            <label>
              <span x-text="`${i + 1}. Headphone Impedance`"></span>
              <input type="text" inputmode="numeric" x-model.number="$store.settings.impedance[i]"> <span class="Unit">&ohm;</span>
            </label>
            <button class="Button Button--negative Button--icon" @click.prevent="$store.settings.impedance.splice(i, 1)" aria-label="Remove" title="Remove">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </template>
        <button class="Button" @click.prevent="$store.settings.impedance.push(0)">Add Headphone</button>
      </div>

    </fieldset>

    <fieldset>
      <legend>Amplifier</legend>

      <div>
        <label>
          Amplifier Output Impedance
          <input type="text" inputmode="numeric" x-model="$store.settings.ampOutputImpedance"> <span class="Unit">&ohm;</span>
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Target</legend>

      <div class="FormElements">
        <div>
          <b class="FormElements-title">Speaker Load</b>
          <div class="FormElements">
            <div>
              <label>
                Minimum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.minSpeakerLoad"> <span class="Unit">&ohm;</span>
              </label>
            </div>

            <div>
              <label>
                Maximum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.maxSpeakerLoad"> <span class="Unit">&ohm;</span>
              </label>
            </div>
          </div>
        </div>

        <div>
          <b class="FormElements-title">Attenuation</b>
          <div class="FormElements">
            <div>
              <label>
                Minimum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.minAttenuation"> <span class="Unit">dB</span>
              </label>
            </div>

            <div>
              <label>
                Maximum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.maxAttenuation"> <span class="Unit">dB</span>
              </label>
            </div>
          </div>
        </div>

        <div>
          <b class="FormElements-title">Damping Factor</b>
          <div class="FormElements">
            <div>
              <label>
                Minimum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.minDampingFactor">
              </label>
            </div>

            <div>
              <label>
                Maximum
                <input type="text" inputmode="numeric" x-model.number="$store.settings.maxDampingFactor">
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Circuit</legend>
      <div>
        <label>
          Circuit
          <select x-model="$store.settings.circuit">
            <option value="l-pad" :selected="$store.settings.circuit === 'l-pad'">L-Pad</option>
            <option value="reversed-l-pad" :selected="$store.settings.circuit === 'reversed-l-pad'">Reversed L-Pad</option>
            <option value="three" :selected="$store.settings.circuit === 'three'">Three resistor network</option>
          </select>
        </label>
      </div>

      <template x-if="$store.settings.circuit === 'l-pad'">
        <pre>
┌──R1──┬─────┐
│      │     │
+      │     +
Amp     R2    HP
-      │     -
│      │     │
└──────┴─────┘</pre>
      </template>

      <template x-if="$store.settings.circuit === 'reversed-l-pad'">
        <pre>
┌─────┬──R2──┐
│     │      │
+     │      +
Amp    R1     HP
-     │      -
│     │      │
└─────┴──────┘</pre>
      </template>

      <template x-if="$store.settings.circuit === 'three'">
        <div>
          <pre>
┌─────┬──R2──┬─────┐
│     │      │     │
+     │      │     +
Amp   R1     R3     HP
-     │      │     -
│     │      │     │
└─────┴──────┴─────┘</pre>
          <div class="u-mt-sm">
            <label>
              R3
              <select x-model="$store.settings.r3">
                <template x-for="option in $store.settings.resistances" :key="option">
                  <option :value="option" x-text="option" :selected="option == $store.settings.r3"></option>
                </template>
              </select> <span class="Unit">&ohm;</span>
            </label>
          </div>
        </div>
      </template>
    </fieldset>
  </form>

  <form class="Include">
    <b>Include</b>
    <div class="FormElements">
      <div>
        <label>
          <input type="radio" name="include" value="all" x-model="$store.settings.include">
          All
        </label>
      </div>

      <div>
        <label>
          <input type="radio" name="include" value="speakerLoad" x-model="$store.settings.include">
          Speaker Load
        </label>
      </div>

      <div>
        <label>
          <input type="radio" name="include" value="attenuation" x-model="$store.settings.include">
          Attenuation
        </label>
      </div>

      <div>
        <label>
          <input type="radio" name="include" value="dampingFactor" x-model="$store.settings.include">
          Damping Factor
        </label>
      </div>
    </div>
  </form>

  <div class="Table">
    <table x-data="{ hoveredRow: null, hoveredColumn: null, hoveredInRange: false }">
      <thead>
        <tr>
          <th colspan="2" rowspan="2" style="text-align: center;">&ohm;</th>
          <th :colspan="$store.settings.resistances.length" style="text-align: start">R1</th>
        </tr>
        <tr>
          <template x-for="(r1, indexColumn) in $store.settings.resistances">
            <th x-text="r1" :data-in-range="hoveredColumn === indexColumn ? hoveredInRange : false"></th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template x-for="(r2, indexRow) in $store.settings.resistances">
          <tr>
            <template x-if="indexRow === 0">
              <th :rowspan="$store.settings.resistances.length" style="vertical-align: top; text-align: center;">R2</th>
            </template>
            <th :data-in-range="hoveredRow === indexRow ? hoveredInRange : false" x-text="r2"></th>
            <template x-for="(r1, indexColumn) in $store.settings.resistances" :key="r1">
              <td
                x-data="{ result: {} }"
                x-effect="result = $store.settings.getResult(r1, r2)"
                :data-in-range="result.inRange"
                @mouseenter="hoveredInRange = result.inRange; hoveredRow = indexRow; hoveredColumn = indexColumn"
                @mouseleave="hoveredInRange = false; hoveredRow = null; hoveredColumn = null"
                :style="`--hue: ${result.background};`"
                :data-match="result.match"
              >
                <button @click="document.getElementById(`dialog-${indexRow}-${indexColumn}`).showModal()">
                  <template x-for="(imp, i) in $store.settings.filteredImpedances">
                    <span>
                      <template x-if="$store.settings.include === 'all'">
                        <span>
                          <span x-text="`${result.speakerLoad[i].toFixed(1)} &ohm;`"></span>
                          <span x-text="`${result.attenuation[i].toFixed(1)} dB`"></span>
                          <span x-text="`${result.dampingFactor[i].toFixed(1)} DF`"></span>
                        </span>
                      </template>
                      <template x-if="$store.settings.include === 'speakerLoad'">
                        <span x-text="`${result.speakerLoad[i].toFixed(1)} &ohm;`"></span>
                      </template>
                      <template x-if="$store.settings.include === 'attenuation'">
                        <span x-text="`${result.attenuation[i].toFixed(1)} dB`"></span>
                      </template>
                      <template x-if="$store.settings.include === 'dampingFactor'">
                        <span x-text="`${result.dampingFactor[i].toFixed(1)} DF`"></span>
                      </template>
                    </span>
                  </template>
                </button>
                <dialog :id="`dialog-${indexRow}-${indexColumn}`">
                  <dl class="Data">
                    <div>
                      <dt>Amplifier Output Impedance</dt>
                      <dd x-text="`${$store.settings.ampOutputImpedance} &ohm;`"></dd>
                    </div>
                    <div>
                      <dt>R1</dt>
                      <dd x-text="`${r1} &ohm;`"></dd>
                    </div>
                    <div>
                      <dt>R2</dt>
                      <dd x-text="`${r2} &ohm;`"></dd>
                    </div>
                    <template x-if="$store.settings.circuit === 'three'">
                      <div>
                        <dt>R3</dt>
                        <dd x-text="`${$store.settings.r3} &ohm;`"></dd>
                      </div>
                    </template>
                  </dl>
                  <template x-for="(imp, i) in $store.settings.filteredImpedances">
                    <div class="Dialog-divider">
                      <b x-text="`${i + 1}. Headphone`"></b>
                      <dl class="Data">
                        <div>
                          <dt>Impedance</dt>
                          <dd x-text="`${$store.settings.filteredImpedances[i]} &ohm;`"></dd>
                        </div>
                        <div class="u-mt-sm">
                          <dt>Speaker Load</dt>
                          <dd x-text="`${result.speakerLoad[i].toFixed(1)} &ohm; ${ (result.speakerLoad[i] >= $store.settings.minSpeakerLoad && result.speakerLoad[i] <= $store.settings.maxSpeakerLoad) ? '✅' : '❌' }`"></dd>
                        </div>
                        <div>
                          <dt>Attenuation</dt>
                          <dd x-text="`${result.attenuation[i].toFixed(1)} &ohm; ${ (result.attenuation[i] >= $store.settings.minAttenuation && result.attenuation[i] <= $store.settings.maxAttenuation) ? '✅' : '❌' }`"></dd>
                        </div>
                        <div>
                          <dt>Damping Factor</dt>
                          <dd x-text="`${result.dampingFactor[i].toFixed(1)} &ohm; ${ (result.dampingFactor[i] >= $store.settings.minDampingFactor && result.dampingFactor[i] <= $store.settings.maxDampingFactor) ? '✅' : '❌' }`"></dd>
                        </div>
                      </dl>
                    </div>
                  </template>
                  <form method="dialog">
                    <button class="Button">Close</button>
                  </form>
                </dialog>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
