<div class="Rte">
  <h1>Privacy Policy</h1>

  <p>Last updated: 2024/01/26</p>

  <h2>1. Cookies</h2>

  <p>We do not use third-party cookies on our website. The only cookies we use are session cookies, which are essential for security and enabling user registration, and — in case you select "Remember me" during log in — a cookie to keep you logged in. Session cookies are temporary and are automatically deleted when you close your browser.</p>

  <h2>2. User Data Tracking</h2>

  <p>We do not track user data for analysis or to sell it to third parties. Our focus is on providing a secure and seamless experience for our users without compromising their privacy.</p>

  <h2>3. Hosting</h2>

  <p>Our website is hosted on Heroku, a cloud platform. While Heroku provides the infrastructure, we do not share your personal information with Heroku, other than storing your email address in the database.</p>

  <h2>4. Email Addresses</h2>

  <p>To enable registration on our website, we store users' email addresses in our database. We take measures to secure this information and ensure it is used only for the purpose of facilitating your registration and related communications.</p>

  <h2>5. Email Communication</h2>

  <p>We use Mailgun, a third-party service, to send emails for registration purposes. Your email address is shared with Mailgun solely for the purpose of delivering these registration-related communications.</p>

  <h2>6. Data Security</h2>

  <p>We take the security of your data seriously. We employ industry-standard measures to protect your information from unauthorized access, disclosure, alteration, and destruction.</p>

  <h2>7. Data Access and Control</h2>

  <p>You have the right to access, correct, or delete your personal information. If you have any requests or concerns regarding your data, please contact us at <a href="&#77;&#97;&#105;&#76;&#84;&#79;&#58;&#105;&#110;&#102;&#111;&#64;&#104;&#105;&#102;&#105;&#108;&#111;&#103;&#46;&#99;&#111;&#109;">info@hifilog.com</a>.</p>

  <h2>8. Changes to This Privacy Statement</h2>

  <p>We may update this Privacy Statement to reflect changes in our practices or for legal reasons. Any updates will be posted on this page, and the "Last updated" date will be revised accordingly.</p>

  <h2>9. Contact Us</h2>

  <p>If you have any questions or concerns about our Privacy Statement, please contact us at <a href="&#77;&#97;&#105;&#76;&#84;&#79;&#58;&#105;&#110;&#102;&#111;&#64;&#104;&#105;&#102;&#105;&#108;&#111;&#103;&#46;&#99;&#111;&#109;">info@hifilog.com</a>.</p>
</div>
