<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.prev_owneds') %></h1>
  </div>

  <%= render "shared/products", products: @products, categories: @categories, sub_category: @sub_category, reset_path: @reset_path, empty_state: t('empty_state.prev_owneds', brands_path: brands_path, products_path: products_path) %>
<% end %>
