<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.products') %></h1>
  </div>

  <%= render "shared/products", user: current_user, categories: @categories, items: @possessions, setups: @setups, sub_category: @sub_category, reset_path: @reset_path, empty_state: t('empty_state.user_products', brands_path: brands_path, products_path: products_path) %>
<% end %>
