<%= render layout: "shared/dashboard" do %>
  <div class="Heading">
    <h1><%= t('headings.products') %></h1>
    <%= render "shared/category_filter", categories: @categories %>
  </div>

  <%= render "shared/products",
    user: current_user,
    items: @possessions,
    sub_category: @sub_category,
    reset_path: @reset_path,
    empty_state: t('empty_state.user_products',
    brands_path: brands_path,
    products_path: products_path),
    include_images: true,
    include_image_upload: true,
    include_setup: true
  %>
<% end %>
