<% if [:added_to_collection, :setup_created, :setup_made_public, :setup_product_added, :custom_product_created, :followed_by_user].include?(verb) || event_upcoming %>
  <span class="Feed-iconCheck is-positive">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </span>
<% elsif [:added_to_previous, :moved_to_previous, :setup_product_removed].include?(verb) %>
  <span class="Feed-iconCheck is-negative">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
    </svg>
  </span>
<% elsif event_past %>
  <span class="Feed-iconCheck is-neutral">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
    </svg>
  </span>
<% end %>
