@config "../../../tailwind-active_admin.config.js";
@import "tailwindcss";

@utility ring-opacity-5 {
	--tw-ring-opacity: 0.05;
}

@theme {
	--color-hifilog: #0f1c24;
	--color-gray-50: hsl(204, 40%, 95%);
	--color-gray-100: hsl(204, 40%, 90%);
	--color-gray-200: hsl(204, 40%, 80%);
	--color-gray-300: hsl(204, 40%, 70%);
	--color-gray-400: hsl(204, 40%, 60%);
	--color-gray-500: hsl(204, 40%, 50%);
	--color-gray-600: hsl(204, 40%, 40%);
	--color-gray-700: hsl(204, 40%, 30%);
	--color-gray-800: hsl(204, 40%, 20%);
	--color-gray-900: hsl(204, 40%, 10%);
	--color-gray-950: hsl(204, 40%, 5%);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

a {
	color: hsl(311, 34%, 25%);
}

.dark a {
	color: hsl(313, 50%, 85%);
}

.active-menu-item:not(:has(+ ul .active-menu-item)) {
	@apply bg-gray-100 dark:bg-white/5 text-gray-900 dark:text-white;
}

.AdminDashboardStat dd {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-block-start: 0.25rem;
}

.AdminDashboardStat dd::before {
	--perc: calc(var(--val) * 1%);

	content: "";
	display: block;
	aspect-ratio: 1;
	flex-shrink: 0;
	block-size: 1.5em;
	border-radius: 50%;
	background: conic-gradient(
		hsl(165, 50%, 45%) var(--perc),
		hsl(330, 50%, 45%) var(--perc)
	);
}
