.AddEntityDialog {
	padding: var(--page-spacing);
	inline-size: 100%;
	max-inline-size: 64rem;
	max-block-size: calc(100dvb - 4rem);
	box-sizing: border-box;
}

.AddEntityDialog h2 {
	margin-block-start: 0;
}

.AddEntityDialog h2 small {
	display: block;
	font-size: 1rem;
	color: var(--color-secondary);
	margin-block-start: 0.5rem;
}

.AddEntityDialog-list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(var(--cols), 1fr);
}

.AddEntityDialog-option {
	max-inline-size: 16rem;
	position: relative;
	font-size: 0.875rem;
}

.AddEntityDialog-checkmark {
	display: none;
	color: var(--color-secondary);
	block-size: 1.25rem;
	inline-size: 1.25rem;
}

.AddEntityDialog-option label {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 0.5rem;
	block-size: 100%;
	line-height: 1.4;
	padding-block: 0.25rem;
	padding-inline: 0.75rem;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.AddEntityDialog-option label:has(img, .OpenImageDialog-placeholder) {
	grid-template-columns: 3.125rem 1fr auto;
	padding-inline-start: 0.25rem;
}

.AddEntityDialog-option input:focus ~ label {
	outline: 0.125rem solid var(--color-focus-outline);
	outline-offset: 0.1875rem;
}

.AddEntityDialog-option :is(label:hover, input:focus ~ label) {
	background: var(--color-bg2);
}

.AddEntityDialog-option :checked + label .AddEntityDialog-checkmark {
	display: block;
}

.AddEntityDialog-option input {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	opacity: 0.01;
}

.AddEntityDialog-option input:checked + label {
	color: var(--color-copy-on-accent);
	background: var(--color-accent);
}

.AddEntityDialog-option input:checked + label .AddEntityDialog-checkmark {
	display: block;
	color: currentColor;
}

.AddEntityDialog-option small {
	display: block;
	color: var(--color-secondary);
	margin-block-start: 0.25em;
}

.AddEntityDialog-option input:checked + label small {
	color: var(--color-copy-on-accent);
}

@media (min-width: 32.0625rem) {
	.AddEntityDialog-list {
		--cols: 1;
	}
}

@media (min-width: 32.0625rem) and (max-width: 48rem) {
	.AddEntityDialog-list {
		--cols: 2;
	}
}

@media (min-width: 48.0625rem) and (max-width: 62rem) {
	.AddEntityDialog-list {
		--cols: 3;
	}
}

@media (min-width: 62.0625rem) {
	.AddEntityDialog-list {
		--cols: 4;
	}
}
