/*
 *= require_self
 *= require accordion_tabs
 *= require back_link
 *= require breadcrumbs
 *= require button
 *= require dashboard
 *= require empty_state
 *= require flash_messages
 *= require header
 *= require heading
 *= require menu
 *= require page_actions
 *= require pagination
 *= require product
 *= require rooms
 *= require rte
 *= require search_results
 *= require skip
 *= require symbol
 *= require table
 *= require user_form
 *= require utils
 */

@layer global {
  html {
    --underline-offset: 0.275em;
    --underline-width: 0.0625rem;
    --border: 0.0625rem solid;
    --border-light: var(--border) var(--color-border-light);
    --border-medium: var(--border) var(--color-border-medium);
    --border-dark: var(--border) var(--color-border-dark);
    --border-radius: 0.1875rem;
    --line-height: 1.75;
    --input-padding: 0.325em 1em;
    --page-spacing: 0.75rem;

    --hue: 208;
    --hue-sat: var(--hue), 25%;
    --hue-accent: 312;

    --color-copy: hsl(var(--hue), 30%, var(--copy-l));
    --color-secondary: hsl(var(--hue), 30%, var(--secondary-l));
    --color-bg: hsl(var(--bg-h-s), var(--bg-l));
    --color-bg2: hsl(var(--bg-h-s), calc(var(--bg-l) - 2.5%));
    --color-header-bg: hsl(var(--hue-sat), 10%);
    --color-header-copy: hsl(var(--hue-sat), 80%);
    --color-button-bg: hsl(var(--hue-sat), 40%);
    --color-button-box-shadow: hsla(0, 0%, 0%, var(--button-box-shadow-a));
    --color-input-bg: var(--color-bg2);
    --color-input-box-shadow: hsla(0, 0%, 0%, var(--input-box-shadow-a));
    --color-border-h-s: 0, 0%;
    --color-border-light: hsla(var(--color-border-h-s), var(--border-l), 15%);
    --color-border-medium: hsla(var(--color-border-h-s), var(--border-l), 30%);
    --color-border-dark: hsla(var(--color-border-h-s), var(--border-l), 50%);
    --color-accent: hsl(var(--hue-accent), 34%, var(--accent-l));
    --color-focus-outline: hsl(var(--hue-accent), 100%, 50%);

    /* light mode */

    --bg-h-s: 204, 18.5%;
    --bg-l: 100%;
    --button-box-shadow-a: 20%;
    --input-box-shadow-a: 10%;
    --secondary-l: 40%;
    --copy-l: 20%;
    --accent-l: 25%;
    --border-l: 0%;

    --color-button-copy: #fff;
    --color-invalid-light: hsl(330, 50%, 85%);
    --color-invalid-dark: hsl(330, 100%, 20%);
    --color-invalid-bg: var(--color-invalid-light);
    --color-invalid-copy: var(--color-invalid-dark);
    --color-success-light: hsl(165, 50%, 85%);
    --color-success-dark: hsl(165, 100%, 20%);
    --color-success-bg: var(--color-success-light);
    --color-success-copy: var(--color-success-dark);
    --color-positive: hsl(160, 50%, 95%);
    --color-search-button-outline: var(--color-header-copy);
  }

  @media (prefers-color-scheme: dark) {
    html {
      --bg-h-s: 208, 40%;
      --bg-l: 15%;
      --button-box-shadow-a: 50%;
      --input-box-shadow-a: 50%;
      --secondary-l: 60%;
      --copy-l: 80%;
      --accent-l: 75%;
      --border-l: 100%;

      --color-invalid-bg: var(--color-invalid-dark);
      --color-invalid-copy: var(--color-invalid-light);
      --color-success-bg: var(--color-success-dark);
      --color-success-copy: var(--color-success-light);
      --color-positive: hsl(190, 40%, 15%);
      --color-search-button-outline: var(--color-border-medium);
    }
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
    line-height: var(--line-height);
    margin: 0;
    color-scheme: light dark;
    background: var(--color-bg);
    color: var(--color-copy);
    accent-color: var(--color-accent);
  }

  a {
    color: var(--color-accent);
    text-underline-offset: var(--underline-offset);
    text-decoration-thickness: var(--underline-width);
  }

  a:hover {
    color: var(--color-copy);
  }

  :is(a, input, button):focus-visible {
    outline: 0.125em solid var(--color-focus-outline);
    outline-offset: 0.1875em;
  }

  header {
    background: var(--color-header-bg);
  }

  main {
    padding-block: clamp(2rem, 4vw, 3rem) 4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-block: 0;
  }

  h1 span {
    font-weight: lighter;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-secondary);
  }

  h3 {
    font-size: 1.4rem;
  }

  dd {
    margin: 0;
  }

  input:not([type="checkbox"], [type="hidden"]) {
    all: unset;
  }

  select {
    background: none;
  }

  select,
  input:not([type="checkbox"], [type="hidden"]) {
    font: inherit;
    padding: var(--input-padding);
    border: var(--border-medium);
    border-radius: var(--border-radius);
    background: var(--color-input-bg);
    box-shadow: 0.05rem 0.1rem 0.5rem var(--color-input-box-shadow) inset;
    inline-size: 100%;
    box-sizing: border-box;
    block-size: 2.525rem;
  }

  .field_with_errors input:not([type="checkbox"], [type="hidden"]) {
    border-color: var(--color-invalid-copy);
  }

  .field_with_errors label {
    color: var(--color-invalid-copy);
  }

  button {
    all: unset;
    border: var(--border) transparent;
    cursor: pointer;
  }

  svg {
    display: block;
  }

  .is-positive {
    background: var(--color-positive);
  }

  @media (max-width: 32em) {
    h1 {
      font-size: 2.4rem;
    }
  }
}
