.Changelog {
	padding: 0;
	margin-block: 2rem;
}

.Changelog-item {
	padding: 1rem;
	list-style: "";
}

.Changelog-item:nth-child(odd) {
	background: var(--color-bg2);
}

.Changelog-item p {
	margin-block: 0;
}

.Changelog-data {
	margin-block-start: 0.5rem;
}

.Changelog-old {
	color: rgb(225, 0, 50);
}

.Changelog-new {
	color: rgb(0, 150, 75);
}

.Changelog-item tr {
	background: transparent;
}

.Changelog-item :is(th, td) {
	padding-inline-start: 0;
}
