.Changelog {
	padding: 0;
	margin-block: 2rem;
}

.Changelog-item {
	padding: 1rem;
	list-style: "";

	ul {
		padding-inline-start: 1em;
		margin-block-start: 1rem;
	}

	li + li {
		margin-block-start: 1rem;
	}
}

.Changelog-item:nth-child(odd) {
	background: var(--color-bg2);
	border-radius: var(--border-radius);
}

.Changelog-itemHeading {
	margin-block: 0;
}

.Changelog-data {
	margin-block-start: 0.5rem;
}

.Changelog-old {
	color: rgb(225, 0, 50);
}

.Changelog-new {
	color: rgb(0, 150, 75);
}

.Changelog-item tr {
	background: transparent;
}

.Changelog-item :is(th, td) {
	padding-inline-start: 0;
}

.Changelog-itemComment {
	margin-block-start: 1.5rem;
}

.Changelog table {
	table-layout: fixed;
}

.Changelog .EntityList {
	margin-block-start: 0.75rem;
}

.Changelog .EntityList tr {
	border: none;
}

.Changelog .EntityList th {
	width: 4em;
}

.Changelog .EntityList :is(th, td) {
	padding-block: 0.5rem;
}
