.BarChart {
	display: grid;
	align-items: center;
}

.BarChart-row {
	display: grid;
	align-items: center;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
	padding: 0.75em;
	border-radius: var(--border-radius);
}

.BarChart-row:nth-child(odd) {
	background: var(--color-bg2);
}

.BarChart dt {
	font-weight: 600;
}

.BarChart-grid {
	gap: 0 1em;
}

.BarChart-grid dd:has(:nth-child(2)) {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.25em 0.75em;
}

.BarChart-label {
	font-size: 0.875em;
	color: var(--color-secondary);
}

.BarChart-data {
	--color: calc(100 - var(--size) * 100 + 100);
	--lightness: 15%;

	display: block;
	box-sizing: border-box;
	inline-size: calc(var(--size) * 100%);
	background: hsl(var(--color), 80%, 60%);
	border: 0.0625rem solid transparent;
	text-align: end;
	border-radius: var(--border-radius);
	padding: 0.125em 0.5em;
	color: light-dark(
		hsl(var(--color), 100%, var(--lightness-light, var(--lightness))),
		hsl(var(--color), 100%, var(--lightness-dark, var(--lightness)))
	);
	font-weight: 600;
	white-space: nowrap;
}

.BarChart-data--positive {
	--color: 100;
}

.BarChart-data--negative {
	--color: -10;
}

.BarChart-data--neutral {
	--color: -100;
	--lightness: 90%;
}

.BarChart-data--sm:not(.BarChart-data--empty) {
	text-indent: calc(100% + 1em);
}

.BarChart-data:is(.BarChart-data--sm, .BarChart-data--empty) {
	--lightness-dark: 90%;
}

.BarChart-data--positive:is(.BarChart-data--sm, .BarChart-data--empty) {
	--lightness-dark: 90%;
}

.BarChart-data--negative:is(.BarChart-data--sm, .BarChart-data--empty) {
	--lightness-dark: 90%;
}

.BarChart-data--neutral:is(.BarChart-data--sm, .BarChart-data--empty) {
	--lightness-dark: 10%;
}

.BarChart-data--empty {
	background: none;
	padding-inline: 0;
	text-align: start;
}

@container statistics (width < 40em) {
	.BarChart {
		grid-template-columns: 1fr;
	}

	.BarChart-row {
		gap: 0.5em;
	}
}

@container statistics (width >= 40em) {
	.BarChart {
		grid-template-columns: auto 1fr;
		gap: 0 1em;
	}

	.BarChart--fixed {
		grid-template-columns: 12em 1fr;
	}

	.BarChart dt {
		display: flex;
		align-items: center;
		justify-content: end;
		text-align: end;
		min-block-size: 3.5em;
	}

	.BarChart-label {
		text-align: end;
	}
}
