.CustomProduct {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 3rem;
}

.CustomProduct-image {
	inline-size: 20rem;
}

.CustomProduct-content {
	flex: 1 1 calc(100% - 20rem - 3rem);
	min-inline-size: 16rem;
}
