@media (max-width: 48rem) {
	.Dashboard-menu {
		display: none;
	}
}

@media (min-width: 48.0625rem) {
	.Dashboard {
		display: flex;
		gap: clamp(2rem, 4vi, 4rem);
	}

	.Dashboard-menu {
		background: var(--color-bg2);
		flex: 1;
	}

	.Dashboard-products {
		flex: 4;
	}

	.Dashboard-links {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		list-style: none;
		padding: 0;
		margin: 0;
		padding: 2rem;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
		}

		li:first-child {
			border-block-end: var(--border-medium);
			margin-block-end: 1rem;
			padding-block-end: 1rem;
		}
	}

	.Dashboard-separator {
		border-block-start: var(--border-medium);
		margin-block-start: 1rem;
		padding-block-start: 1rem;
	}

	.Dashboard-link {
		text-decoration: none;
	}

	.Dashboard-link:is(:hover, :focus) {
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: var(--underline-width);
	}

	.Dashboard-link[aria-current="true"] {
		font-weight: bold;
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: var(--underline-width);
	}
}

.Dashboard-intro {
	margin-block-end: 3rem;
}

.DashboardNumbers {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
	margin: 0;
	padding: 0;
	list-style: "";
}

.DashboardNumber {
	display: flex;
	justify-content: space-between;
	border: var(--border-medium);
	border-radius: var(--border-radius);
	text-decoration: none;
	padding: 1rem;
}

.DashboardNumber-heading {
	margin: 0;
	font-size: 1.2rem;
}

.DashboardNumber-value {
	font-size: 3rem;
	font-weight: bold;
	line-height: 1;
}

@media (max-width: 30rem) {
	.DashboardNumbers {
		gap: 1rem;
	}
}

@media (min-width: 30.0625rem) {
	.DashboardNumbers {
		gap: 2rem;
	}

	.DashboardNumber {
		flex-direction: column;
		aspect-ratio: 1.6;
	}
}

.DashboardStats {
	margin-block-start: 1rem;
	container: stats / inline-size;
}

.DashboardStats tr {
	background: transparent;
}

.DashboardStats tr:first-child th {
	font-size: 1.2em;
	letter-spacing: 0;
	color: inherit;
	text-transform: none;
}

.DashboardStats th,
.DashboardStats td {
	padding-inline-start: 0;
}

.DashboardStats td {
	color: var(--color-accent);
	font-weight: bold;
}

.DashboardStats span {
	color: var(--color-secondary);
	font-size: 0.875em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: calc(var(--line-height) * 1rem);
	padding-inline-end: 0.5em;
}

@container stats (width < 36rem) {
	.DashboardStats span {
		display: block;
	}
}
