
@media (max-width: 48rem) {
  .Dashboard-menu {
    display: none;
  }
}

@media (min-width: 48.0625rem) {
  .Dashboard {
    display: flex;
    gap: clamp(2rem, 4vi, 4rem);
  }

  .Dashboard-menu {
    background: var(--color-bg2);
    flex: 1;
  }

  .Dashboard-products {
    flex: 4;
  }

  .Dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    li:first-child {
      border-block-end: var(--border-medium);
      margin-block-end: 1rem;
      padding-block-end: 1rem;
    }
  }

  .Dashboard-separator {
    border-block-start: var(--border-medium);
    margin-block-start: 1rem;
    padding-block-start: 1rem;
  }

  .Dashboard-link {
    text-decoration: none;
  }

  .Dashboard-link:is(:hover, :focus) {
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
    text-decoration-thickness: var(--underline-width);
  }

  .Dashboard-link[aria-current="true"] {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: var(--underline-offset);
    text-decoration-thickness: var(--underline-width);
  }
}

.Dashboard-intro {
  margin-block-end: 3rem;
}

.DashboardStats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 12rem), 1fr));
  margin: 0;
  padding: 0;
  list-style: "";
}

.DashboardStat {
  display: flex;
  justify-content: space-between;
  border: var(--border-medium);
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 1rem;
}

.DashboardStat-heading {
  margin: 0;
  font-size: 1.2rem;
}

.DashboardStat-value {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

@media (max-width: 30rem) {
  .DashboardStats {
    gap: 1rem;
  }
}

@media (min-width: 30.0625rem) {
  .DashboardStats {
    gap: 2rem;
  }

  .DashboardStat {
    flex-direction: column;
    aspect-ratio: 1.6;
  }
}
