.Options {
	color: var(--color-input);
	padding: var(--input-padding);
	border: var(--border-medium);
	border-radius: var(--border-radius);
	background: var(--color-input-bg);
	box-shadow: 0.05rem 0.1rem 0.5rem var(--color-input-box-shadow) inset;
}

.Options-item {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0 0.5rem;
}

.Options-item[hidden] {
	display: none;
}

.Options-item + .Options-item {
	margin-block-start: 0.0625rem;
}

.Options--brands {
	max-height: 12.2em;
	overflow-y: scroll;
}

.Options--brands:not(:has([data-brand]:not([hidden]))) {
	display: none;
}

.EntityForm details:not(:last-child) {
	border-block-end: var(--border-light);
}

.EntityForm details[open] {
	padding-block-end: 1rem;
}

.EntityForm summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 0.75em;
	list-style: none;
	font-weight: 600;
}

.EntityForm summary::after,
html:has([name="theme"][value="light"]:checked) .EntityForm summary::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9' fill='none'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 1 8 8 1 1'/%3E%3C/svg%3E");
}

.EntityForm-date {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.EntityForm-attributes {
	display: none;
}

.EntityForm-attributes:has([data-sub-category-ids]:not([hidden])) {
	display: block;
}

.EntityForm-attribute {
	padding-block: 0.5rem;
}

.EntityForm-attribute:not([hidden]) ~ .EntityForm-attribute {
	border-block-start: var(--border-light);
}

.EntityForm-note {
	border-radius: var(--border-radius);
	background: var(--color-blue-35);
	border: var(--border-medium);
	padding: 0.75rem 1rem;
	color: var(--color-copy-on-light);
}

.EntityForm-note a {
	color: var(--color-accent-on-light);
}

@media (prefers-color-scheme: dark) {
	.Options {
		accent-color: hsl(var(--hue-accent), 34%, 25%);
		color-scheme: light;
	}
}

:is(html:has([name="theme"][value="dark"]:checked), .is-dark) .Options {
	accent-color: hsl(var(--hue-accent), 34%, 25%);
	color-scheme: light;
}
