.Entity {
	display: flex;
	gap: 2rem;
}

.Entity:not(:has(.CustomProduct)) {
	padding-block-end: 3rem;
	margin-block-end: 3rem;
	border-block-end: var(--border-light);
}

.Entity-content {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 2rem 3rem;
}

.Entity-image {
	inline-size: 20rem;
	list-style: "";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

.Entity-image .ImageLightbox-item:first-child {
	grid-column: 1 / -1;
}

.Entity-text {
	flex: 1 1 calc(100% - 20rem - 3rem);
	min-inline-size: 16rem;
}

.Entity-sub {
	background: var(--color-bg2);
	border-radius: var(--border-radius);
}

.Entity-sub dl {
	margin-block: 0;
}

.Entity-sub dt {
	font-weight: 600;
	color: var(--color-secondary);
}

.Entity-sub hr {
	margin-block: 1.5rem;
	border-top: var(--border-light);
	border-bottom: none;
}

.Entity-sub dd + dt {
	margin-block-start: 1em;
}

.Entity-section:not(:last-child) {
	border-block-end: var(--border) var(--color-transparency-15);
	padding-block-end: 2rem;
	margin-block-end: 2rem;
}

@media (max-width: 48rem) {
	.Entity {
		flex-direction: column;
	}

	.Entity-sub {
		padding: 1rem var(--page-spacing);
	}
}

@media (min-width: 48.065rem) {
	.Entity {
		display: flex;
		gap: 2rem;
	}

	.Entity-main {
		flex: 1;
	}

	.Entity-sub {
		flex: 0 0 17.5rem;
		padding: 1rem;
	}
}

.Entity-meta {
	margin-block-start: 1.5rem;
	padding-block-start: 1.5rem;
	border-block-start: var(--border-light);
}

.Entity-metaLinks + dl {
	margin-block-start: 1.5rem;
}

.Footnotes {
	font-size: 0.875em;
	margin-block-start: 3rem;
	padding-inline: 1.2rem;
}

.EntityPossession {
	border: 0.25rem solid var(--color-transparency-10);
	border-radius: var(--border-radius);
	padding: 0.75rem;
	color: var(--color-secondary);
}

.EntityPossession[data-current="true"] {
	background: var(--color-success-bg);
	color: var(--color-success-copy);
}

.EntityPossession--bookmark {
	background: var(--color-blue-925);
}

.EntityPossession--bookmark form + form {
	margin-block-start: 1rem;
}

.EntityPossession-heading {
	margin-block: 0;
	gap: 0.625rem;
}

.EntityPossession-headingName {
	display: block;
	line-height: 1.25;
}

.EntityPossession + .EntityPossession {
	margin-block-start: 1rem;
}

.EntityPossession-heading + .EntityPossession-setup {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.75rem;
}

.EntityPossession-setup + .EntityPossession-setup {
	margin-block-start: 0.25rem;
}

.EntityPossession-period {
	line-height: 1.5;
	margin-block-start: 0.5rem;
}

.EntityPossession-period small {
	display: block;
}

.EntityPossession-period span {
	font-weight: 600;
}

.EntityPossession-form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.5rem;
	padding-block: 1rem;
}

.EntityPossession-metaLinks {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.5rem;
	font-size: 0.875rem;
}

.EntityPossession-metaLinks summary {
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 0.5rem;
}
