.Entity {
	--spacing: clamp(2rem, 4vi, 3rem);

	display: flex;

	.Rte > :is(p, ul, ol, blockquote, hr) {
		max-inline-size: none;
	}
}

.Entity-main,
.Entity-sub {
	padding-block: var(--spacing);
}

.Entity-heading {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 1rem;

	h1,
	h2 {
		margin-block-start: 0;
		margin-block-end: 1em;
	}
}

.Entity-section:has(.Entity-data) {
	container: section / inline-size;
}

.Entity-data {
	padding: 1rem 1.25rem;
	background: var(--color-bg2);
	max-inline-size: 24rem;

	a {
		word-break: break-word;
	}

	&:not(:only-child) {
		margin-block-end: 2rem;

		@container section (width > 48rem) {
			float: left;
			margin-inline-end: var(--page-spacing);
		}
	}
}

.Entity-content {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: var(--spacing) var(--page-spacing);
}

.Entity-image {
	inline-size: 20rem;
	list-style: "";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

.Entity-image .ImageLightbox-item:first-child {
	grid-column: 1 / -1;
}

.Entity-text {
	flex: 1 1 calc(100% - 20rem - var(--page-spacing));
	min-inline-size: 16rem;
}

.Entity-sub dl {
	margin-block: 0;
}

.Entity-sub dt {
	font-weight: 600;
	color: var(--color-secondary);
}

.Entity-sub hr {
	margin-block: 1.5rem;
	border-top: var(--border-light);
	border-bottom: none;
}

.Entity-sub dd + dt {
	margin-block-start: 1em;
}

.Entity-section:not(:last-child) {
	margin-block-end: var(--spacing);
}

.Entity-section::after {
	content: "";
	display: block;
	clear: both;
}

.Entity-action:not(:first-child) {
	margin-block-start: 1rem;
}

.Entity-action button {
	inline-size: 100%;
}

@media (width < 48rem) {
	.Entity {
		flex-direction: column;
		gap: 2rem;
	}

	.Entity-sub {
		border-block-start: var(--border-light);
		padding-block: var(--spacing);
	}
}

@media (width >= 48rem) {
	.Entity-main {
		flex: 1;
		border-inline-end: var(--border-light);
		padding-inline-end: var(--page-spacing);
		padding-block-end: calc(2 * var(--spacing));
	}

	.Entity-sub {
		padding-inline-start: var(--page-spacing);
		border-inline-start: var(--border-light);
		flex: 0 0 22rem;
		box-sizing: border-box;
		margin-inline-start: -0.0625rem;
	}
}

.Entity-meta {
	margin-block-start: 1.5rem;
	padding-block-start: 1.5rem;
	border-block-start: var(--border-light);
}

.Entity-metaLinks + dl {
	margin-block-start: 1.5rem;
}

.Footnotes {
	font-size: 0.875em;
	padding-inline: 1.2rem;
	padding-block-start: var(--spacing);
	margin-block-start: var(--spacing);
	border-block-start: var(--border-light);
}

.EntityPossession {
	border: 0.25rem solid var(--color-transparency-10);
	border-radius: var(--border-radius);
	padding: 0.75rem;
	color: var(--color-secondary);
}

.EntityPossession[data-current="true"] {
	background: var(--color-success-bg);
	color: var(--color-success-copy);
}

.EntityPossession--bookmark,
html:where([data-theme="light"]) .EntityPossession--bookmark {
	background: var(--color-blue-925);
}

@media (prefers-color-scheme: dark) {
	.EntityPossession--bookmark {
		background: var(--color-blue-175);
	}
}

:is(html:where([data-theme="dark"]), .is-dark) .EntityPossession--bookmark {
	background: var(--color-blue-175);
}

.EntityPossession--bookmark form + form {
	margin-block-start: 1rem;
}

.EntityPossession-heading {
	margin-block: 0;
	gap: 0.625rem;
}

.EntityPossession-headingName {
	display: block;
	line-height: 1.25;
}

.EntityPossession + .EntityPossession {
	margin-block-start: 1rem;
}

.EntityPossession-heading + .EntityPossession-setup {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.75rem;
}

.EntityPossession-setup + .EntityPossession-setup {
	margin-block-start: 0.25rem;
}

.EntityPossession-period {
	line-height: 1.5;
	margin-block-start: 0.5rem;
}

.EntityPossession-period small {
	display: block;
}

.EntityPossession-period small + small {
	margin-block-start: 0.25rem;
}

.EntityPossession-period span {
	display: block;
	font-weight: 600;
}

.EntityPossession-form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.5rem;
	padding-block: 1rem;

	label {
		font-weight: 600;
	}
}

.EntityPossession-formPrice {
	margin-block-end: 1rem;

	> div + div {
		margin-block-start: 0.5rem;
	}

	label {
		font-weight: 600;
	}
}

.EntityPossession-metaLinks {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.5rem;
	font-size: 0.875rem;
}

.EntityPossession-metaLinks summary {
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 0.5rem;
}
