.Entity {
	display: flex;
	gap: 2rem;
}

.Entity:not(:has(.CustomProduct)) {
	padding-block-end: 3rem;
	margin-block-end: 3rem;
	border-block-end: var(--border-light);
}

.Entity-sub {
	background: var(--color-bg2);
	border-radius: var(--border-radius);
}

.Entity-sub dl {
	margin-block: 0;
}

.Entity-sub dt {
	font-weight: 600;
	color: var(--color-secondary);
}

.Entity-sub hr {
	margin-block: 1.5rem;
	border-top: var(--border-light);
	border-bottom: none;
}

.Entity-sub dd + dt {
	margin-block-start: 1em;
}

.Entity-description {
	margin-block-end: calc(var(--line-height) * 1em);
}

.Heading:has(+ .Entity-description) {
	margin-block-end: 1rem;
}

@media (max-width: 48rem) {
	.Entity {
		flex-direction: column;
	}

	.Entity-sub {
		padding: 1rem var(--page-spacing);
	}
}

@media (min-width: 48.065rem) {
	.Entity {
		display: flex;
		gap: 2rem;
	}

	.Entity-main {
		flex: 1;
	}

	.Entity-sub {
		flex: 0 0 17.5rem;
		padding: 1rem;
	}
}

.Entity-meta {
	margin-block-start: 1.5rem;
	padding-block-start: 1.5rem;
	border-block-start: var(--border-light);
}

.Entity-metaLinks + dl {
	margin-block-start: 1.5rem;
}

.Footnotes {
	font-size: 0.875em;
	margin-block-start: 3rem;
	padding-inline: 1.2rem;
}
