.Options {
	color: var(--color-input);
	padding: var(--input-padding);
	border: var(--border-medium);
	border-radius: var(--border-radius);
	background: var(--color-input-bg);
	box-shadow: 0.05rem 0.1rem 0.5rem var(--color-input-box-shadow) inset;

	input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]):not(
			[type="file"]
		),
	select,
	textarea {
		background: var(--color-bg-main);
	}

	h3,
	h4,
	ul {
		margin-block: 1rem;
	}
}

.Options-item {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 0.5rem;

	input {
		transform: translateY(0.5rem);
	}
}

.Options-item[hidden] {
	display: none;
}

.Options-item + .Options-item {
	margin-block-start: 0.0625rem;
}

.Options--brands {
	max-height: 12.2em;
	overflow-y: scroll;
}

.Options--brands:not(:has([data-brand]:not([hidden]))) {
	display: none;
}

.EntityForm {
	container: form / inline-size;
}

.EntityForm details:not(:last-child) {
	border-block-end: var(--border) var(--color-transparency-25);
}

.EntityForm details[open] {
	padding-block-end: 1rem;
}

.EntityForm summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 0.75em;
	list-style: none;
	font-weight: 600;
}

.EntityForm-subCategories {
	ul {
		padding-inline-start: 0;
	}
}

@container form (width <= 48rem) {
	.EntityForm-subCategories div {
		display: contents;
	}
}

@container form (width > 48rem) {
	.EntityForm-subCategories {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(4, 1fr);
	}
}

.EntityForm-date {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.EntityForm-attributes {
	display: none;
	container: attributes / inline-size;
}

.EntityForm-attributes:has([data-sub-category-ids]:not([hidden])) {
	display: block;
}

.EntityFormAttributes {
	display: grid;
}

.EntityForm-attribute {
	padding-block: 1rem;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	gap: 0.5rem 2rem;
}

.EntityFormAttribute-label {
	font-weight: bold;
	font-size: 1em;
	margin-block: 0;
}

.EntityFormAttribute-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
	gap: 0.5rem 1rem;
}

.EntityFormAttribute-grid--single > *:last-child:not(:only-child) {
	grid-column: 2 / -1;
}

.EntityFormAttribute-inputs {
	display: grid;
	gap: 0.5rem;
}

.EntityFormAttribute-options {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 1rem;
}

.EntityFormAttributes-units {
	grid-column: 1 / -1;
}

.EntityForm-attribute:not([hidden]) ~ .EntityForm-attribute {
	border-block-start: var(--border-light);
}

@container attributes (width > 36rem) {
	.EntityFormAttributes {
		grid-template-columns: auto 1fr;
	}

	.EntityFormAttribute-label {
		font-weight: bold;
		font-size: 1em;
		margin-block: 0;
		display: flex;
		align-items: center;
		min-block-size: 2.5rem;
		align-self: start;
	}
}

.EntityForm-note {
	border-radius: var(--border-radius);
	background: var(--color-blue-750);
	border: var(--border-medium);
	padding: 0.75rem 1rem;
	color: var(--color-copy-on-light);
}

.EntityForm-note a {
	color: var(--color-accent-on-light);
}

.EntityForm-variant {
	padding: 1rem;
	background: var(--color-bg2);
	border-radius: var(--border-radius);
}

.EntityForm-variant ~ .EntityForm-variant {
	margin-block-start: 1rem;
}

.EntityForm-variant .h4 {
	margin-block-start: 0;
}

.ProductOptionsForm-list {
	list-style: "";
	counter-reset: options;
	padding-inline-start: 0;
}

.ProductOptionsForm-list li {
	counter-increment: options;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5em;
}

.ProductOptionsForm-list li:not(:first-child) {
	margin-block-start: 1rem;
}

.ProductOptionsForm-list li::before {
	content: counter(options) ".";
	grid-column: 1;
	grid-row: 1;
}

.ProductOptionsForm-list li div:nth-child(1) {
	grid-column: 2;
	grid-row: 1;
}

.ProductOptionsForm-list li div:nth-child(2) {
	grid-column: 2;
	grid-row: 2;
}

.ProductOptionsForm button {
	text-decoration: underline;
	font-weight: 600;
}

.ProductOptionsForm-button {
	display: block;
	margin-inline-start: auto;
}
