.Feed {
	--body-gap: clamp(1rem, 2vi, 1.5rem);
	--icon-size: 3.5rem;

	list-style: "";
	margin: 0;
	padding: 0;
	container: activity / inline-size;

	a {
		font-weight: 600;
	}
}

.Feed-item + .Feed-item {
	padding-block-start: clamp(1rem, 5vi, 2rem);
	border-block-start: 0.0625rem dotted var(--color-border-light);
	margin-block-start: clamp(1rem, 5vi, 2rem);
}

.Feed-primary {
	min-inline-size: 12rem;

	p {
		margin-block: 0;
		font-size: 1.125rem;
		font-weight: 500;
	}
}

.Feed-body,
.Feed-text {
	display: flex;
}

.Feed-body {
	gap: 0.5rem var(--body-gap);
}

.Feed-text {
	gap: 0.25rem 2rem;
	flex: 1;

	time {
		font-size: 0.875rem;
	}
}

@container activity (width < 30rem) {
	.Feed-body {
		align-items: start;
	}

	.Feed-text {
		flex-direction: column-reverse;
	}
}

@container activity (width >= 30rem) {
	.Feed-body {
		align-items: center;
	}

	.Feed-text {
		justify-content: space-between;
	}
}

.Feed-iconContainer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: var(--border) var(--color-border-extra-light);
	font-size: var(--icon-size);
	inline-size: 1em;
	aspect-ratio: 1;
}

.Feed-icon {
	display: block;
	stroke: var(--color-blue-500);
	stroke-width: 1.5;
	fill: none;

	&:only-of-type {
		inline-size: 0.6em;
		translate: 0 0.025em;
	}

	&:not(:only-of-type) {
		&:nth-child(1) {
			inline-size: 0.6em;
			translate: 0.05em 0.1em;
		}

		&:nth-child(2) {
			position: absolute;
			inline-size: 0.35em;
			inset-block-start: 0.075em;
			inset-inline-start: 0.075em;
		}
	}
}

.Feed-iconCheck {
	inset-block-start: 0.15em;
	inset-inline-end: 0.15em;
	position: absolute;
	border-radius: 50%;
	inline-size: 0.25em;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.0625rem solid;

	&.is-positive {
		color: var(--color-success-dark);
		background: var(--color-success-light);
		border-color: var(--color-success-dark);
	}

	&.is-neutral {
		color: #526b7b;
		background: #eef0f1;
		border-color: #526b7b;
	}

	&.is-negative {
		color: var(--color-invalid-dark);
		background: var(--color-invalid-light);
		border-color: var(--color-invalid-dark);
	}

	svg {
		scale: 0.8;
		fill: none;
		stroke-width: 3.5;
		stroke: currentColor;
	}

	&:not(:is(img ~ *)) {
		box-shadow: 0 0 0 0.25rem var(--color-bg2);
	}
}

.Feed-nested {
	list-style: "";
	margin: 0;
	margin-inline-start: calc(var(--icon-size) + var(--body-gap));
	padding: 0;
	display: flex;
	gap: 0.5rem;
}

.Feed-nested:not(.Feed-nested--images) {
	flex-direction: column;
}

.Feed-nested--images {
	flex-wrap: wrap;
	margin-block-start: 0.5rem;
}

.Feed-nestedRow {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.Feed-nested--images .ImageLightbox-item {
	flex-shrink: 0;
}

.Feed-nested--images .ImageGallery-thumb {
	inline-size: clamp(3rem, 10vi, 6rem);
}

.Feed-nested--images .ImageGallery-thumb img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
