.Form--centered {
  inline-size: 100%;
  max-inline-size: 28rem;
  margin-inline: auto;
}

.Form h1 {
  font-size: 2.2rem;
}

.Form + .Form {
  margin-block-start: 3rem;
}

.Form-field {
  max-inline-size: 28rem;
}

.Form-field + .Form-field {
  margin-block-start: 1rem;
}

.Form-field--inline {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Form-field--inline .Form-label {
  padding-block-end: 0;
}

.Form-field + h3 {
  margin-block-start: 2rem;
}

h3:has(+ .Form-field) {
  margin-block-end: 1rem;
}

.Form-submit {
  margin-block-start: 2rem;
}

.Form-label {
  display: inline-block;
  padding-block-end: 0.25em;
}

.Form-label small {
  color: var(--color-secondary);
  font-size: 0.875em;
}

.Form-options {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.Form-options label + input {
  margin-inline-start: 1em;
}

.Form-hint {
  color: var(--color-secondary);
  line-height: 1.2;
}

.Form-links {
  list-style: "";
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
  font-size: 0.875em;
  margin-block-start: 2rem;
}
