.Form--centered {
	inline-size: 100%;
	max-inline-size: 28rem;
	margin-inline: auto;
}

.Form small {
	display: inline-block;
	line-height: 1.4;
}

.Form h1 {
	font-size: 2.2rem;
}

.Form + .Form {
	margin-block-start: 3rem;
}

.Form-field {
	max-inline-size: 28rem;
}

.Form-field + .Form-field {
	margin-block-start: 1rem;
}

.Form-field--inline {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.Form-field--inline .Form-label {
	padding-block-end: 0;
}

.Form-field + h3 {
	margin-block-start: 2rem;
}

h3:has(+ .Form-field) {
	margin-block-end: 1rem;
}

.Form-submit {
	margin-block-start: 2rem;
}

.Form-label {
	display: inline-block;
	padding-block-end: 0.25em;
}

.Form-label small {
	color: var(--color-secondary);
	font-size: 0.875em;
}

.Form-options {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.Form-options label + input {
	margin-inline-start: 1em;
}

.Form-hint {
	color: var(--color-form-hint, var(--color-secondary));
	line-height: 1.2;
	display: block;
	margin-block-start: 0.75em;
}

.Form-links {
	list-style: "";
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-size: 0.875em;
	margin-block-start: 2rem;
}

.Form legend {
	float: left;
	font-weight: 600;
	margin-block-end: 1rem;
}

.Form legend + * {
	clear: both;
}

.ProductFormAddBrand p {
	color: var(--color-invalid-copy);
	background: var(--color-invalid-bg);
	padding: 1rem;
}

.ProductFormAddBrand p + p {
	margin-block-end: 1.5rem;
}

.ProductFormAddBrand-fieldset {
	padding: 1.5rem 2rem;
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: none;
	margin-inline: 0;
}

.Form-field + .ProductFormAddBrand {
	margin-block-start: 1.5rem;
}
