.Home {
	background: var(--color-bg2);
}

.Home-content {
	padding-block: clamp(3rem, 5vi, 6rem);
	grid-area: copy;
}

.Home-intro .AppName {
	color: var(--color-copy);
	font-weight: bold;
}

.Home-intro .AppName span {
	color: var(--color-accent);
	font-weight: inherit;
}

.Home-intro h1 {
	margin-block: 0;
	font-size: clamp(1.6rem, 4vi, 2rem);
	line-height: 1.4;
	font-weight: normal;
}

.Home-intro h1 em {
	display: block;
	font-style: normal;
	margin-block-start: 1em;
}

.Home-intro a {
	font-weight: 700;
	white-space: nowrap;
}

.Home-picture {
	background-image: linear-gradient(
		45deg,
		var(--color-blue-100),
		var(--color-accent-on-light)
	);
	display: block;
}

.Home-picture img {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	mix-blend-mode: screen;
}

.Home h2 {
	font-size: clamp(1.6rem, 4vi, 2rem);
	margin-block-start: 0;
}

.Home h2 + p {
	font-size: 1.4rem;
}

.Home-browse {
	background: var(--color-bg-main);
	padding-inline: 2rem;
	padding-block: clamp(3rem, 5vi, 6rem);
}

.Home-browse :is(ul, ol) {
	padding-inline-start: 0;
	list-style: "";
}

.Home-browse ul li + li {
	margin-block-start: 1em;
}

.Home-browse a {
	font-weight: 600;
}

.Home-browse h3 {
	margin-block-start: 2em;
}

.Home-features {
	background: var(--color-bg2);
	padding-block: clamp(3rem, 5vi, 6rem);
}

.Home-featuresHeader {
	text-align: center;
	margin-block-end: 3rem;
}

.Home-featuresHeader :is(a, strong) {
	font-weight: 600;
}

.Home-feature h3 {
	color: var(--color-accent);
}

.Home-feature p {
	max-inline-size: 30em;
}

.Home-feature img {
	block-size: auto;
	aspect-ratio: 2754 / 2112;
}

.Home-signUp {
	background: var(--color-accent-on-light);
	color: #fff;
	padding-block: clamp(3rem, 5vi, 6rem);
	padding-inline: 2rem;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;

	.Rte {
		grid-column: 3 / -3;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	a {
		color: inherit;
		font-weight: 600;
	}
}

@media (width < 48rem) {
	.Home-content {
		padding-inline: 2rem;
	}

	.Home-picture {
		aspect-ratio: 2;
	}

	.Home-features {
		padding-inline: 2rem;
	}

	.Home-feature + .Home-feature {
		margin-block-start: 2rem;
	}

	.Home-feature picture {
		display: block;
		margin-block-end: 1rem;
	}
}

@media (width >= 48rem) {
	.Home {
		display: grid;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: auto auto;
	}

	.Home-intro {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		align-items: center;
	}

	.Home-content {
		grid-column: 2 / 12;
		grid-row: 1;
	}

	.Home-picture {
		grid-column: 13 / -1;
		block-size: 100%;
	}

	.Home-browse {
		grid-column: 1 / -1;
	}

	.Home-features {
		background: var(--color-bg2);
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
	}

	.Home-featuresContainer {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		gap: 2rem 0;
	}

	.Home-featuresHeader {
		grid-column: 3 / -3;
		text-align: center;
		margin-block-end: 4rem;
		display: flex;
		justify-content: center;
	}

	.Home-feature {
		display: grid;
		grid-column: 2 / -2;
		gap: 2rem;
		display: flex;
		align-items: center;
	}

	.Home-feature:nth-child(even) {
		flex-direction: row-reverse;
	}

	.Home-feature picture {
		inline-size: 50%;
	}
}

@media (width < 62rem) {
	.Home-browseSection + .Home-browseSection {
		margin-block-start: 3rem;
		border-block-start: 0.0625rem solid var(--color-transparency-15);
		padding-block-start: 3rem;
	}
}

@media (width >= 62rem) {
	.Home {
		position: relative;
		max-inline-size: 95rem;
		margin-inline: auto;
	}

	.Home-main {
		grid-column: 1 / -1;
	}

	.Home-content {
		grid-column: 3 / 11;
	}

	.Home-browse {
		display: grid;
		grid-template-columns: subgrid;
		position: relative;
	}

	.Home-browse::after {
		content: "";
		display: block;
		inline-size: 0.0625rem;
		background: var(--color-transparency-15);
		position: absolute;
		inset-inline-start: 50%;
		inset-block: 6rem;
	}

	.Home-browse h2 {
		margin-block-start: 0;
		grid-column: 3 / -3;
	}

	.Home-browseSection:nth-child(1) {
		grid-column: 3 / 11;
	}

	.Home-browseSection:nth-child(2) {
		grid-column: 15 / -3;
	}

	.Home-features {
		padding-block: 6rem;
	}

	.Home-feature {
		grid-column: 3 / -3;
		gap: 4rem;
	}
}
