.Home {
  container: home / inline-size;
}

.Home-intro,
.Home-signUp {
  font-size: 1.6rem;
  line-height: 1.4;
}

.Home b {
  color: var(--color-highlight);
}

.Home .AppName {
  color: var(--color-copy);
  font-weight: bold;
}

.Home .AppName span {
  color: var(--color-accent);
}

.Home-intro {
  margin-block: 0;
}

.Home-intro a {
  font-weight: 700;
  white-space: nowrap;
}

@container home (min-inline-size: 48em) {
  .Home-intro > span:not(.AppName) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.25em 0.5em;
    margin-block-start: 0.25em;
  }

  .Home-intro a {
    font-size: clamp(1.4em, 4vi, 1.8em);
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.0375em;
  }

  .Home-introDot {
    margin-inline-start: -0.375em;
  }
}

.Home-signUp {
  max-inline-size: 46ch;
  margin-block: 3rem 0;
}
