.Home-register {
	--color-form-hint: var(--color-accent-on-dark);

	background: var(--color-accent-on-light);
	padding: 2rem;
	color: #fff;
	padding-inline: 2rem;
	padding-block: clamp(1rem, 8vi, 4rem);
}

.Home-register label {
	display: block;
	margin-block-end: 0.25em;
	white-space: nowrap;
}

.Home-register form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.Home-register h2 {
	margin-block: 0 2rem;
	color: inherit;
}

.Home-register label small {
	opacity: 0.8;
}

.Home-register input {
	background: var(--color-blue-975);
}

.Home-submit {
	margin-block-start: 1rem;
}

.Home-content {
	padding-block: clamp(1rem, 5vi, 5rem);
	grid-area: copy;
	font-size: 1.2rem;
}

.Home-content b {
	color: var(--color-highlight);
}

.Home-content .AppName {
	color: var(--color-copy);
	font-weight: bold;
}

.Home-content .AppName span {
	color: var(--color-accent);
	font-weight: inherit;
}

.Home-intro {
	margin-block: 0;
	font-size: 1.5em;
	line-height: 1.4;
	font-weight: normal;
}

.Home-content a {
	font-weight: 700;
	white-space: nowrap;
}

.Home-content p {
	margin-block: 2em 0;
}

.Home-picture {
	background-image: linear-gradient(
		45deg,
		var(--color-blue-100),
		var(--color-accent-on-light)
	);
	display: block;
}

.Home-picture img {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	mix-blend-mode: screen;
}

.Home-features {
	background: var(--color-blue-150);
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}

.Home-feature h3 {
	color: var(--color-white);
}

.Home-feature p {
	color: var(--color-secondary);
	max-inline-size: 30em;
}

@media (width < 48rem) {
	.Home-content {
		padding-inline: 2rem;
	}

	.Home-feature {
		padding-block: clamp(1rem, 6vi, 4rem);
		padding-inline: 2rem;
	}

	.Home-feature:is(:nth-child(odd)) {
		background: var(--color-blue-125);
	}
}

@media (width < 62rem) {
	.Home-picture {
		aspect-ratio: 2;
	}
}

@media (width >= 48rem) {
	.Home {
		display: grid;
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: auto auto;
	}

	.Home-content {
		grid-column: 2 / 12;
		grid-row: 1;
	}

	.Home-register {
		grid-column: 13 / -1;
		grid-row: 1;
	}

	.Home-picture {
		grid-column: 1 / -1;
		grid-row: 2;
	}

	.Home-feature {
		padding: 4rem;
		display: grid;
		grid-template-columns: subgrid;
	}

	.Home-feature:is(:nth-child(4n + 1), :nth-child(4n + 4)) {
		background: var(--color-blue-125);
	}

	.Home-feature:nth-child(odd) {
		grid-column: 1 / 13;
	}

	.Home-feature:nth-child(even) {
		grid-column: 13 / -1;
	}

	.Home-feature .Rte {
		grid-column: 2 / 12;
	}
}

@media (width >= 62rem) {
	main:has(.Home) {
		background: var(--color-bg2);
	}

	.Home {
		position: relative;
		max-inline-size: 95rem;
		margin-inline: auto;
		background: var(--color-bg);
	}

	.Home-content {
		grid-column: 3 / 11;
		grid-row: 1;
	}

	.Home-register {
		grid-column: 1 / 13;
		grid-row: 2;
		display: grid;
		grid-template-columns: subgrid;
	}

	.Home-form {
		grid-column: 3 / 11;
	}

	.Home-picture {
		grid-column: 13 / -1;
		grid-row: 1 / -1;
	}

	.Home-feature {
		padding: 4rem;
	}

	.Home-feature .Rte {
		grid-column: 3 / 11;
	}
}
