.Product-action:not(:first-child) {
	margin-block-start: 1rem;
}

.Product-action button {
	inline-size: 100%;
}

.Product-section {
	margin-block-start: 2.5rem;
}

.Product-notes {
	margin-block-start: 1.25rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 1rem;
}
