.Product-action:not(:first-child) {
	margin-block-start: 1rem;
}

.Product-action button {
	inline-size: 100%;
}

.ProductPossession {
	border: 0.25rem solid var(--color-transparency-10);
	border-radius: var(--border-radius);
	padding: 0.75rem;
	color: var(--color-secondary);
}

.ProductPossession[data-current="true"] {
	background: var(--color-success-bg);
	color: var(--color-success-copy);
}

.ProductPossession-heading {
	margin-block: 0;
	gap: 0.625rem;
}

.ProductPossession-headingName {
	display: block;
	line-height: 1.25;
}

.ProductPossession + .ProductPossession {
	margin-block-start: 1rem;
}

.ProductPossession-heading + .ProductPossession-setup {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.75rem;
}

.ProductPossession-setup + .ProductPossession-setup {
	margin-block-start: 0.25rem;
}

.ProductPossession-period {
	line-height: 1.5;
	margin-block-start: 0.5rem;
}

.ProductPossession-period small {
	display: block;
}

.ProductPossession-period span {
	font-weight: 600;
}

.ProductPossession-form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.5rem;
	padding-block: 1rem;
}

.ProductPossession-metaLinks {
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 0.5rem;
	font-size: 0.875rem;
}

.ProductPossession-metaLinks summary {
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 0.5rem;
}

.Product-section {
	margin-block-start: 2.5rem;
}

.Product-notes {
	margin-block-start: 1.25rem;
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 1rem;
}
