.Profile {
	padding-block-end: 4rem;
}

.Profile-hiddenNotice {
	background: var(--color-invalid-light);
	color: var(--color-invalid-dark);
	padding-block: 1rem;
	text-align: center;
}

.Profile-hiddenNotice p {
	margin-block: 0;
}

.Profile-header {
	background: var(--color-blue-175);
}

.Profile-headerImage {
	block-size: 100%;
	inline-size: 100%;
	object-fit: cover;
}

@media (max-width: 84.5rem) {
	.Profile-header {
		aspect-ratio: 4;
	}
}

@media (min-width: 84.5625rem) {
	.Profile-header {
		aspect-ratio: initial;
		block-size: 19.625rem;
		max-inline-size: 94.5rem;
		margin-inline: auto;
	}

	.Profile-header:not(:has(img)) {
		block-size: 10rem;
	}
}

@media (max-width: 48rem) {
	.Profile-meta {
		margin-inline: calc(-1 * var(--page-spacing));

		.Sidebar-userName {
			background: var(--color-blue-125);
			margin: 0;
			padding-inline: var(--page-spacing);
			display: flex;
			gap: 0.75rem;
			align-items: center;
		}
	}

	.Profile-products {
		margin-block-start: 1rem;

		h2 {
			display: none;
		}
	}
}

@media (min-width: 48.0625rem) {
	.Profile {
		--gap: clamp(2rem, 4vi, 4rem);
	}

	.Profile-content {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		gap: clamp(2rem, 4vi, 4rem);
		padding-block-start: var(--gap);
		scroll-margin-block-start: var(--header-height);
	}

	.Profile-meta {
		flex: 1;
		min-inline-size: 16rem;
		position: sticky;
		inset-block-start: 6rem;
		margin-block-start: calc(-1 * 16rem / 2 - var(--gap));
		outline: 0.5rem solid var(--color-bg-main);
	}

	.Profile-products {
		flex: 4;
	}
}
