.SearchResults {
	max-inline-size: 48rem;
	margin-inline: auto;
	container: listing / inline-size;
	padding-block-end: 3rem;
}

.SearchResults-list {
	margin-block-start: 3rem;
}

.SearchResults-list + .Pagination {
	margin-block-start: 4rem;
}

.SearchResult {
	border-block-start: var(--border-light);
	margin-block-start: 1.5rem;
	padding-block-start: 1.5rem;
}

.SearchResult-entityName {
	font-size: 1.125rem;
	font-weight: 600;
}

.SearchResult small {
	color: var(--color-secondary);
}
