.Setups-form {
	margin-block-start: 3rem;
}

.Setups-add h2 {
	margin-block-start: 0;
}

.Setups-form form {
	box-sizing: border-box;
	background: var(--color-bg2);
	padding: 1.5rem 1.5rem 1rem;
	border-radius: var(--border);
	border: var(--border-light);
	display: flex;
	gap: 1rem 2rem;
	flex-wrap: wrap;
}

.Setup-formHint {
	flex: 0 0 100%;
	color: var(--color-secondary);
}

.Setup-formHint p {
	max-inline-size: 36rem;
	margin-block: 0;
}

.Setups-formErrors {
	flex: 0 0 100%;
}

.Setups-form .Form-field {
	margin-block-start: 0;
}

.Setups-form button {
	margin-inline-start: auto;
}
