@import "./charts.css";

.Statistics {
	container: statistics / inline-size;
}

.StatisticsNumbers {
	--gap: clamp(0.75rem, 5cqi, 1.5rem);

	display: grid;
	margin: 0;
	padding: 0;
	list-style: "";
	gap: var(--gap);
}

.StatisticsNumbers-item {
	container: number / inline-size;
}

.StatisticsNumber {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: var(--border-radius);
	text-decoration: none;
	padding: clamp(0.5rem, 7.5%, 2rem);
	background: var(--color-bg2);
	color: inherit;
	gap: 0.25rem;
	block-size: 100%;
	box-sizing: border-box;
}

.StatisticsNumbers-item:nth-child(1) {
	--color: hsl(100, 80%, 40%);
}

.StatisticsNumbers-item:nth-child(2) {
	--color: hsl(165, 80%, 40%);
}

.StatisticsNumbers-item:nth-child(3) {
	--color: hsl(200, 80%, 40%);
}

.StatisticsNumber-unit {
	margin: 0;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.StatisticsNumber-value {
	font-size: 2.4rem;
	font-size: clamp(1.2rem, 20cqi, 3rem);
	font-weight: bold;
	line-height: 1;
	color: var(--color, var(--color-accent));
	margin-block-start: auto;
	padding-block-start: 0.5rem;
}

@container statistics (width >= 36rem) {
	.StatisticsNumbers {
		grid-template-columns: repeat(3, 1fr);
	}
}

.StatisticsSection {
	border-block-start: var(--border) var(--color-transparency-15);
	padding-block-start: 2rem;
	margin-block-start: 4rem;
}
