.Users {
	--spacing-inline: 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	gap: 2rem;
	list-style: "";
	padding: 0;
}

.Users-follow {
	white-space: nowrap;
}

.Users-follow form {
	margin: 0;
}
