.Users {
	display: flex;
	gap: 2rem 4rem;
	align-items: start;
}

.Users-info {
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: var(--border-light);
}

@media (min-width: 40em) {
	.Users-rank {
		inline-size: 3rem;
	}
}

@media (max-width: 54rem) {
	.Users {
		flex-direction: column;
	}

	.Users-ranking {
		inline-size: 100%;
	}

	.Users-info {
		padding: calc(2 * var(--page-spacing));
	}
}

@media (min-width: 54.065rem) {
	.Users-ranking {
		flex: 1;
	}

	.Users-info {
		padding: 2rem;
		flex: 0 0 16rem;
	}
}
