.UserForm--loggedOut {
  inline-size: 100%;
  max-inline-size: 28rem;
  margin-inline: auto;
}

.UserForm + .UserForm {
  margin-block-start: 3rem;
}

.UserForm-field {
  max-inline-size: 28rem;
}

.UserForm-field + .UserForm-field {
  margin-block-start: 1rem;
}

.UserForm-submit {
  margin-block-start: 2rem;
}

.UserForm-label {
  display: block;
}

.UserForm-hint {
  color: var(--color-secondary);
}

.UserForm-links {
  font-size: 0.875em;
  margin-block-start: 2rem;
}
