<% content_for :css do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<div class="Home">
  <p class="Home-intro">
    <%= t('home.intro', products_count: products_count, products_path: products_path, brands_count: brands_count, brands_path: brands_path, categories_count: categories_count, categories_path: categories_path).html_safe %>
  </p>

  <p class="Home-signUp"><%= t('home.sign_up', sign_up_path: new_user_registration_path).html_safe %></p>
</div>
