<% content_for :css do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<div class="Home">
  <p class="Home-intro">
    <%= t('home.intro', products_size: app_size[:products], products_path: products_path, brands_size: app_size[:brands], brands_path: brands_path, categories_size: app_size[:categories], categories_path: categories_path).html_safe %>
  </p>

  <p class="Home-signUp"><%= t('home.sign_up').html_safe %></p>
</div>
