.Avatar {
	font-size: calc(var(--size) * 1rem / 16);
	block-size: 1em;
	inline-size: 1em;
	border-radius: var(--border-radius);
	background: var(--color-secondary-on-light);
	color: var(--color-secondary-on-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	line-height: 1;
}

.Avatar:not(a .Avatar) {
	cursor: default;
}

.Avatar-letter {
	font-size: 0.75em;
}

:where(a, button):hover .Avatar-letter {
	text-decoration: none;
}
