.Avatar {
	border-radius: var(--border-radius);
	background: var(--color-secondary-on-light);
	aspect-ratio: 1;
	block-size: calc(var(--size) * 1rem / 16);
}

div.Avatar {
	font-size: calc(var(--size) * 1rem / 16);
	inline-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	line-height: 1;
}

.Avatar:not(a .Avatar) {
	cursor: default;
}

.Avatar-letter {
	font-size: 0.75em;
	color: var(--color-secondary-on-dark);
}

a:has(.Avatar),
.Avatar-letter {
	text-decoration: none !important;
}

a:has(.Avatar) {
	text-decoration: none;
}

a .Avatar + span {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	text-decoration-thickness: var(--underline-width);
}
