.Breadcrumbs {
	--gap: 0.5rem;
}

.Breadcrumbs {
	margin-block-end: 2rem;
}

.Breadcrumbs-list {
	list-style: "";
	padding: 0;
	margin-block: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.875em;
	color: var(--color-secondary);
}

.Breadcrumbs li {
	display: inline;
}

.Breadcrumbs li:not(:first-child)::before {
	content: "/";
	margin-inline: var(--gap);
}

.Breadcrumbs-home {
	text-decoration: none;
}

.Breadcrumbs-home svg {
	--size: 1.2em;

	display: flex;
	block-size: 1.2em;
	inline-size: 1.2em;
	fill: var(--color-secondary);
}
