.Button,
::file-selector-button {
	padding: var(--input-padding);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	background: var(--color-button-bg);
	color: var(--color-button-copy);
	box-shadow: 0.15rem 0.15rem 0.25rem var(--color-button-box-shadow);
	text-decoration: none;
	border: var(--border) transparent;
	display: inline-block;
	white-space: nowrap;
}

.Button[aria-pressed="true"] {
	--hue: 160;
	--saturation: 50%;
	--lightness: 40%;
	--size: 1.75em;
	--color: var(--hue), var(--saturation), var(--lightness);

	background: hsla(var(--color), 10%);
	color: hsl(var(--color));
	border: var(--border);
}

@media (prefers-color-scheme: dark) {
	.Button[aria-pressed="true"] {
		--lightness: 70%;
	}
}

:is(html:has([name="theme"][value="dark"]:checked), .is-dark)
	.Button[aria-pressed="true"] {
	--lightness: 70%;
}

.Button[aria-pressed="true"] {
	font-weight: 600;
}

.Button:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.Button:active {
	transform: translate(0.0625rem, 0.0625rem);
}

.Button--negative {
	--color-button-bg: transparent;
	--color-button-copy: var(--color-invalid-copy);

	border-color: currentColor;
}

.Button--secondary,
::file-selector-button {
	background-color: transparent;
	border-color: currentColor;
	color: var(--color-secondary);
}

.Button--sm {
	padding: 0.6em 0.75em;
	line-height: 1;
}

.TextButton {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	font-size: 0.875em;
}

.TextButton:not(.TextButton--negative) {
	font-weight: 600;
	color: inherit;
}

.TextButton--negative {
	color: var(--color-invalid-copy);
}

.Button--loadingIcon {
	position: relative;
}

.Button--loadingIcon.is-loading span {
	visibility: hidden;
}

.Button--loadingIcon::after {
	--size: 1.5em;

	content: "";
	display: none;
	width: var(--size);
	height: var(--size);
	border: 0.125em solid currentColor;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	margin-inline-start: calc(var(--size) / -2);
	margin-block-start: calc(var(--size) / -2);
}

.Button--loadingIcon.is-loading::after {
	display: block;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
