.CategoryFilter {
	--spacing: 1rem;

	border-radius: var(--border-radius);
	border: var(--border-light);
	background: var(--color-bg2);
	margin-block-end: 2rem;
	font-size: 0.875em;
	container: filter / inline-size;
}

.CategoryFilter summary {
	padding: var(--spacing);
}

.CategoryFilter[open] summary + div {
	padding-block-end: var(--spacing);
	padding-inline: var(--spacing);
}

.CategoryFilter-categories {
	display: flex;
	gap: 2rem;
}

@container filter (inline-size < 42rem) {
	.CategoryFilter-categories {
		flex-direction: column;
		align-items: start;
	}
}

@container filter (inline-size >= 42rem) {
	.CategoryFilter-categories {
		justify-content: space-between;
		align-items: end;
	}
}

@media (prefers-color-scheme: dark) {
	.CategoryFilter summary::after {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 1 8 8 1 1'/%3E%3C/svg%3E");
	}
}

:is(html:has([name="theme"][value="dark"]:checked), .is-dark)
	.CategoryFilter
	summary::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 1 8 8 1 1'/%3E%3C/svg%3E");
}
