.EntityList {
	--spacing-inline: 1rem;

	list-style: "";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 16rem), 1fr));
	gap: 1.5rem;
}

.EntityList-item {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: var(--spacing-inline);
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: 0.0625rem solid transparent;

	&:has(.EntityList-name:focus-within) {
		outline: 0.125rem solid var(--color-focus-outline);
		outline-offset: 0.1875rem;

		a:focus-within {
			outline: none;
		}
	}
}

.EntityList--brands .EntityList-item > :last-child {
	margin-block-start: auto;
}

.EntityList-item.is-discontinued {
	background: none;
	border-style: dashed;
	border-color: var(--color-transparency-15);
}

.EntityList-item[aria-current="true"] {
	font-weight: 600;
}

.EntityList-item .Symbols {
	inline-size: 5.5rem;
	align-self: start;
}

.EntityList-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
	position: relative;
	font-weight: 700;

	a {
		font-size: 1.2em;
	}
}

.is-discontinued > .EntityList-name {
	font-weight: normal;
}

:is(.EntityList--products, .EntityList--brands) .EntityList-name::before {
	--size: 0.1875rem;

	content: "";
	display: block;
	inline-size: 0;
	block-size: 100%;
	border-inline-start: var(--size) solid var(--color);
	position: absolute;
	inset-inline-end: calc(100% + var(--spacing-inline) - var(--size));
}

.is-continued > .EntityList-name::before {
	--color: var(--color-continued-marker);
}

.is-discontinued > .EntityList-name::before {
	--color: var(--color-discontinued-marker);
}

.EntityList-brandName {
	display: block;
}

.EntityList-modelName {
	display: block;
	font-size: 0.875rem;
	margin-block-start: 0.25rem;
	font-weight: normal;
}

.EntityList-data {
	font-size: 0.875em;
}

.EntityList-tags {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	.Tag {
		margin: 0;
	}
}

.EntityList-productsCount,
.EntityList-country {
	font-size: 0.875rem;
}

.EntityList-country {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.EntityList-item summary {
	font-size: 0.875em;
	font-weight: 600;
	color: var(--color-secondary);
	justify-content: start;
	gap: 0.5em;
}

.EntityList-item summary::after {
	order: -1;
}

.EntityList-item [open] > summary {
	padding-block-end: 0.75rem;
}

.EntityList-metaLinks {
	font-size: 0.875em;
	display: flex;
	justify-content: end;
}
