.EntityList {
	--spacing-inline: 1rem;

	list-style: "";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(min(100%, var(--card-size, 16rem)), 1fr)
	);
	gap: 1.5rem;
}

.EntityList--events {
	--card-size: 18rem;
}

.EntityList-item .EntityListItem {
	block-size: 100%;
	box-sizing: border-box;
}

.EntityListItem {
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: var(--spacing-inline);
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: 0.0625rem solid var(--color-transparency-10);
	position: relative;

	&:has(.EntityListItem-name:focus-visible) {
		outline: 0.125rem solid var(--color-focus-outline);
		outline-offset: 0.1875rem;

		a:focus-visible {
			outline: none;
		}
	}
}

.EntityListItem-image {
	--radius: calc(var(--border-radius) - 0.0625rem);

	display: block;
	inline-size: calc(100% + 2 * var(--spacing-inline));
	block-size: auto;
	aspect-ratio: 3/2;
	margin: calc(-1 * var(--spacing-inline));
	margin-block-end: 1rem;
	max-inline-size: none;
	background-color: var(--color-bg-card-image);
	border-start-start-radius: var(--radius);
	border-start-end-radius: var(--radius);
	position: relative;

	&:not(:has(img)) {
		&[data-name]::before {
			content: attr(data-name);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			inline-size: 100%;
			block-size: 100%;
			position: absolute;
			inset: 0;
			padding: 2rem;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.2;
			color: var(--color-text-card-image);
			box-sizing: border-box;
		}
	}

	img {
		object-fit: cover;
		inline-size: 100%;
		block-size: 100%;
		border-start-start-radius: var(--radius);
		border-start-end-radius: var(--radius);
	}
}

.Brand .EntityListItem-image:has(img) {
	background: #fff;
}

.EntityListItem-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	inline-size: 100%;

	&:not(:last-child) {
		padding-block-end: 1rem;
	}
}

.EntityListItem.is-discontinued {
	background: none;
	border-style: dashed;
	border-color: var(--color-transparency-25);
}

.EntityListItem[aria-current="true"] {
	font-weight: 600;
}

.EntityListItem-header {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: start;
	margin-inline-start: -1rem;
}

.EntityListItem .Symbols {
	font-size: 0.75rem;
	inline-size: 7.6em;
	align-self: start;
	position: absolute;
	inset-block-start: 1rem;
	inset-inline-end: 1rem;
}

.EntityListItem--event .Symbols {
	inline-size: 4.5em;
}

.EntityListItem-main {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
}

.EntityListItem-name {
	font-weight: 600;
	font-size: 1.2em;

	&a::after {
		content: "";
		display: block;
		inline-size: 100%;
		block-size: 100%;
		position: absolute;
		inset: 0;
		transition: box-shadow 0.2s ease-in-out;
	}

	&a:hover {
		&::after {
			box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
		}
	}
}

.is-discontinued .EntityListItem-name {
	font-weight: normal;
}

.EntityListItem-brandName {
	display: block;
}

.EntityListItem-modelName {
	display: block;
	font-size: 0.875rem;
	margin-block-start: 0.25rem;
	font-weight: normal;
}

.EntityListItem-data {
	font-size: 0.875em;
}

.EntityListItem-tags {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	.Tag {
		margin: 0;
	}
}

.EntityList-productsCount,
.EntityList-country {
	font-size: 0.875rem;
}

.EntityList-productsCount {
	margin-inline-start: auto;
	position: relative;
}

.EntityListItem-footer {
	margin-block-start: auto;
	border-block-start: var(--border-light);
	padding-block-start: 1rem;

	.MetaLinks {
		justify-content: end;
	}
}

.EntityListItem-metaLinks {
	font-size: 0.875em;
}
