.EntityList {
	--spacing-inline: 1rem;

	list-style: "";
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(min(100%, var(--card-size, 16rem)), 1fr)
	);
	gap: 1.5rem;
}

.EntityList--events {
	--card-size: 22rem;
}

.EntityList-item .EntityListItem {
	block-size: 100%;
	box-sizing: border-box;
}

.EntityListItem {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: var(--spacing-inline);
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: 0.0625rem solid transparent;

	&:has(.EntityList-name:focus-within) {
		outline: 0.125rem solid var(--color-focus-outline);
		outline-offset: 0.1875rem;

		a:focus-within {
			outline: none;
		}
	}
}

.EntityList--brands .EntityListItem > :last-child {
	margin-block-start: auto;
}

.EntityListItem.is-discontinued {
	background: none;
	border-style: dashed;
	border-color: var(--color-transparency-25);
}

.EntityListItem[aria-current="true"] {
	font-weight: 600;
}

.EntityListItem-header {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: start;
}

.EntityListItem .Symbols {
	font-size: 0.75rem;
	inline-size: 7.6em;
	align-self: start;
}

.EntityListItem--event .Symbols {
	inline-size: 4.5em;
}

.EntityListItem-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
}

.EntityListItem-name {
	font-weight: 600;
	font-size: 1.2em;
}

.is-discontinued .EntityListItem-name {
	font-weight: normal;
}

.EntityListItem-brandName {
	display: block;
}

.EntityListItem-modelName {
	display: block;
	font-size: 0.875rem;
	margin-block-start: 0.25rem;
	font-weight: normal;
}

.EntityListItem-data {
	font-size: 0.875em;
}

.EntityListItem-tags {
	padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	.Tag {
		margin: 0;
	}
}

.EntityList-productsCount,
.EntityList-country {
	font-size: 0.875rem;
}

.EntityList-country {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.EntityListItem-footer {
	margin-block-start: auto;
	border-block-start: var(--border-light);
	padding-block-start: 1rem;

	.MetaLinks {
		justify-content: end;
	}
}

.EntityListItem-metaLinks {
	font-size: 0.875em;
}
