.Filter {
	position: relative;
	z-index: 1;
	border: var(--border-light);
	border-radius: var(--border-radius);
	background: var(--color-bg2);
	padding: 0.75rem;
	font-size: 0.875em;
}

.Filter-label {
	margin-block-end: 0.5em;
}

.Filter-options {
	display: grid;
	gap: 0.75rem 1rem;
	grid-template-columns: auto 1fr;
}

.Filter-section {
	display: grid;
	grid-column: 1 / -1;
}

.Filter-section:not(.Filter-section--attributes) {
	grid-template-columns: subgrid;
}

.Filter-section--divider {
	padding-block-start: 0.75rem;
	margin-block-start: 0.75rem;
	border-block-start: var(--border) var(--color-transparency-15);
}

.Filter-legend {
	grid-column: 1 / -1;
	font-weight: 600;
	font-size: 1.25em;
}

.Filter-option {
	font-weight: 600;
	line-height: 1.875rem;
	grid-column: 1;
}

.Filter-close,
.Filter-reset {
	font-weight: 600;
	text-decoration: none;
}

.Filter-values {
	display: flex;
	gap: 1rem 1.5rem;
	flex-direction: column;
}

.Filter-input {
	block-size: 1.875rem;
	max-inline-size: 24em;
}

.Filter-input,
html:where([data-theme="light"]) .Filter-input {
	background: var(--color-white);
}

.Filter-actions {
	margin-block-start: 0.5rem;
	grid-column: 1 / -1;
}

.Filter-submit {
	margin-inline-start: auto;
}

@media (prefers-color-scheme: dark) {
	.Filter-input {
		background: var(--color-input-bg);
	}
}

html:where([data-theme="dark"]) .Filter-input {
	background: var(--color-input-bg);
}

@media (width < 48rem) {
	.Filter {
		display: grid;
		gap: 1rem 2rem;
		grid-template-columns: 1fr auto;
		align-items: center;
	}

	.Filter-form {
		background: var(--color-bg2);
		padding: 1rem;
		border-radius: var(--border-radius);
		position: fixed;
		inset-inline: 1rem;
		inset-block-end: 1rem;
		transition: 0.25s opacity ease;
		grid-column: 1 / -1;
		grid-row: 2;
		max-block-size: calc(100dvb - 2rem);
		overflow-y: auto;
		overscroll-behavior: contain;
		box-sizing: border-box;
		font-size: 1rem;
	}

	.Filter:has([aria-expanded="true"])::before {
		content: "";
		display: block;
		position: fixed;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.Filter-open {
		grid-column: 2;
		grid-row: 1;
		position: relative;
	}

	.Filter-open:not([aria-expanded="true"]) + .Filter-form {
		display: none;
	}

	.Filter-status {
		list-style: "";
		padding: 0;
		margin: 0;
		color: var(--color-secondary);
	}

	.Filter-status.is-active {
		color: var(--color-success-copy);
		font-weight: 600;
		display: flex;
		gap: 0.5em;
		align-items: center;
	}
}

@media (width >= 48rem) {
	.Filter-open,
	.Filter-status,
	.Filter-close {
		display: none;
	}
}

.FilterInfo {
	line-height: 1.2;
	text-align: center;
	margin-block: 0;
}
