.FlashMessage {
	margin-block: 0;
	border-block-end: var(--border);
	padding: 1rem;
	text-align: center;
}

.FlashMessage--notice {
	background: var(--color-success-bg);
	color: var(--color-success-copy);
}

.FlashMessage--alert {
	background: var(--color-invalid-bg);
	color: var(--color-invalid-copy);
}

.FlashMessage--info {
	background: var(--color-bg2);
}

.FlashMessage a {
	color: inherit;
}
