.Form--centered {
	inline-size: 100%;
	max-inline-size: 28rem;
	margin-inline: auto;
}

.Form small {
	display: inline-block;
	line-height: 1.4;
}

.Form h1 {
	font-size: 2.2rem;
}

.Form + .Form {
	margin-block-start: 3rem;
}

.Form-field {
	padding: 0;
	border: none;
}

.Form:not(.Form--wide) .Form-field {
	max-inline-size: 28rem;
}

.Form-field + .Form-field {
	margin-block-start: var(--spacing-top, 1rem);
}

.Form-field--inline {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.Form-field--inline .Form-label {
	padding-block-end: 0;
}

.Form-field--divider {
	--spacing-top: 2rem;

	padding-block-start: 2rem;
	border-block-start: var(--border-light);
}

.Form-field + h3 {
	margin-block-start: 2rem;
}

h3:has(+ .Form-field) {
	margin-block-end: 1rem;
}

.Form-field .FlashMessage {
	font-size: 0.875em;
	margin-block-end: 1rem;
}

.Form-fieldHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Form-fieldHeader .Form-label {
	margin-block: 0;
}

.Form-submit {
	margin-block-start: 2rem;
}

.Form-label {
	display: inline-block;
	margin-block-end: 0.25em;
}

.Form-fieldHeader:has(.Form-label.h3),
:not(.Form-fieldHeader) > .Form-label.h3 {
	margin-block-start: 1.5rem;
	margin-block-end: 0.75rem;
}

:not(.Form-fieldHeader) > .Form-label.h3 {
	display: block;
}

.Form-label small {
	color: var(--color-secondary);
	font-size: 0.875rem;
	font-weight: normal;
}

.Form-options {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.Form-options label + input {
	margin-inline-start: 1em;
}

.Form-hint {
	color: var(--color-form-hint, var(--color-secondary));
	line-height: 1.2;
	display: block;
	margin-block-start: 0.75em;
}

.Form-links {
	list-style: "";
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-size: 0.875em;
	margin-block-start: 2rem;
}

.Form legend {
	float: left;
	font-weight: 600;
	margin-block-end: 1rem;
}

.Form legend + * {
	clear: both;
}

.ProductFormAddBrand p {
	color: var(--color-invalid-copy);
	background: var(--color-invalid-bg);
	padding: 1rem;
}

.ProductFormAddBrand p + p {
	margin-block-end: 1.5rem;
}

.ProductFormAddBrand-fieldset {
	padding: 1.5rem 2rem;
	background: var(--color-bg2);
	border-radius: var(--border-radius);
	border: none;
	margin-inline: 0;
}

.Form-field + .ProductFormAddBrand {
	margin-block-start: 1.5rem;
}

.ImageUpload {
	padding: var(--input-padding);
	padding-block: 1rem;
	border: var(--border-medium);
	border-radius: var(--border-radius);
	background: var(--color-bg2);
	box-shadow: 0.05rem 0.1rem 0.5rem var(--color-input-box-shadow) inset;
}
