.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
  margin-block-end: 2.5rem;
}

.Heading--divider {
  padding-block-end: 2rem;
  border-block-end: var(--border-light);
}

.Heading-info {
  flex: 0 0 100%;
  margin-block-start: .5rem;
}
