.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 2rem;
  margin-block-end: clamp(1.5rem, 4vi, 2.5rem);
}

.Heading-amount {
  color: var(--color-secondary);
  font-weight: 600;
  margin-inline-start: auto;
}

@media (min-width: 32rem) {
  .Heading-amount {
    font-size: 1.2rem;
  }
}
