.OpenImageDialog {
	display: block;
}

.OpenImageDialog-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	inline-size: var(--size, 5rem);
	aspect-ratio: 1;
	border-radius: var(--border-radius);
	color: var(--color-blue-50);
	font-size: 0.875rem;
	position: relative;
	isolation: isolate;
	box-sizing: border-box;
	border: var(--border) transparent;
}

.OpenImageDialog-placeholder,
html:has([name="theme"][value="light"]:checked) .OpenImageDialog-placeholder {
	background: var(--color-blue-20);
	border-color: rgba(0, 0, 0, 0.15);
}

.OpenImageDialog:is(:hover, :focus) .OpenImageDialog-placeholder,
html:has([name="theme"][value="light"]:checked)
	.OpenImageDialog:is(:hover, :focus)
	.OpenImageDialog-placeholder {
	color: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
	.OpenImageDialog-placeholder {
		background: var(--color-blue-80);
		border-color: rgba(255, 255, 255, 0.15);
	}
}

:is(html:has([name="theme"][value="dark"]:checked), .is-dark)
	.OpenImageDialog-placeholder {
	background: var(--color-blue-80);
	border-color: rgba(255, 255, 255, 0.15);
}

.OpenImageDialog-placeholder img {
	inline-size: 100%;
	block-size: 100%;
	border-radius: var(--border-radius);
	position: absolute;
	inset: 0;
	z-index: -1;
}

.OpenImageDialog-placeholder span {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	background: hsla(208, 40%, 10%, 75%);
	border-radius: inherit;
	color: var(--color-accent-on-dark);
}

.OpenImageDialog:is(:hover, :focus) .OpenImageDialog-placeholder span {
	opacity: 1;
}

.ImageDialog-delete {
	margin-block-start: 0.5rem;
}
