.OpenImageDialog {
	display: block;
}

.OpenImageDialog-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	inline-size: var(--size, 5rem);
	aspect-ratio: 1;
	border-radius: var(--border-radius);
	color: var(--color-blue-500);
	font-size: 0.875rem;
	position: relative;
	isolation: isolate;
	box-sizing: border-box;
	border: var(--border) var(--color-transparency-15);
}

.OpenImageDialog-placeholder,
html:where([data-theme="light"]) .OpenImageDialog-placeholder {
	background: var(--color-blue-925);
}

.OpenImageDialog:is(:hover, :focus) .OpenImageDialog-placeholder,
html:where([data-theme="light"])
	.OpenImageDialog:is(:hover, :focus)
	.OpenImageDialog-placeholder {
	color: var(--color-accent);
}

@media (prefers-color-scheme: dark) {
	.OpenImageDialog-placeholder {
		background: var(--color-blue-175);
	}
}

:is(html:where([data-theme="dark"]), .is-dark) .OpenImageDialog-placeholder {
	background: var(--color-blue-175);
}

.OpenImageDialog-placeholder img {
	inline-size: 100%;
	block-size: 100%;
	border-radius: var(--border-radius);
	position: absolute;
	inset: 0;
	z-index: -1;
}

.OpenImageDialog-placeholder span {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	background: hsla(208, 40%, 10%, 75%); /* TODO remove fallback */
	background: color-mix(in oklab, var(--color-blue-100), transparent 25%);
	border-radius: inherit;
	color: var(--color-accent-on-dark);
}

.OpenImageDialog:is(:hover, :focus) .OpenImageDialog-placeholder span {
	opacity: 1;
}

@media (hover: none) {
	.OpenImageDialog-placeholder span {
		opacity: 1;
	}
}

.ImageDialog-delete + .ImageDialog-delete {
	margin-block-start: 0.5rem;
}
