.IndexPage {
	display: grid;
}

.IndexPage-header {
	grid-area: header;
}

.IndexPage-headerFilter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 2rem;
}

.IndexPage-headerFilter :is(h1, h2) {
	margin-block: 0;
}

.IndexPage-filter {
	margin-block-start: 2rem;
}

.IndexPage-content {
	grid-area: content;
}

.IndexPage-content .EmptyState {
	margin-block-start: 0;
}

@media (width < 48rem) {
	.IndexPage {
		grid-template:
			"header"
			"content";
		gap: 2rem;
	}
}

@media (width >= 48rem) {
	.IndexPage {
		grid-template: "header content" / 18rem 1fr;
		align-items: start;
		gap: 3rem;
	}

	.IndexPage-header {
		--top: 6rem;

		position: sticky;
		inset-block-start: var(--top);
		max-block-size: calc(100dvb - var(--top));
		overflow-y: auto;
		padding-block-end: 2rem;
		box-sizing: border-box;
	}
}
