.IndexPage {
	display: grid;
}

.IndexPage-header {
	grid-area: header;
}

.IndexPage-headerFilter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 2rem;
}

.IndexPage-headerFilter :is(h1, h2) {
	margin-block: 0;
	line-height: 1;
}

.IndexPage-headerFilter .h1-sm {
	line-height: 1.2;
}

.IndexPage-filter,
.IndexPage-addLink--l {
	margin-block-start: 2rem;
}

@media (width < 48rem) {
	.IndexPage-addLink--l {
		display: none;
	}
}

@media (width >= 48rem) {
	.IndexPage-addLink--s {
		display: none;
	}
}

.IndexPage-content {
	grid-area: content;
}

.IndexPage-contentHeader {
	margin-block-end: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem 2rem;
}

@container listing (width < 24rem) {
	.IndexPage-contentHeader {
		flex-direction: column;
	}
}

.IndexPage-content .EmptyState {
	margin-block-start: 0;
}

@media (width < 48rem) {
	.IndexPage {
		grid-template:
			"header"
			"content";
		gap: 2rem;
	}
}

@media (width >= 48rem) {
	.IndexPage {
		grid-template: "header content" / 17rem 1fr;
		align-items: start;
		gap: clamp(2rem, 4vi, 4rem);
	}

	.IndexPage-header {
		--top: 6rem;

		position: sticky;
		inset-block-start: var(--top);
		max-block-size: calc(100dvb - var(--top));
		overflow-y: auto;
		padding-block-end: 2rem;
		box-sizing: border-box;
	}
}
