.Menu {
  display: flex;
  align-items: center;
}

.Menu-home {
  text-decoration: none;
  font-size: 2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.Menu-home svg {
  aspect-ratio: 1;
  block-size: 1em;
  fill: var(--color-secondary-on-dark);
}

.Menu-home span {
  font-weight: normal;
  font-family: "Bungee";
  color: var(--color-white);
}

.Menu-home span:nth-of-type(2) {
  font-family: "Bungee";
  color: var(--color-accent-on-dark);
}

.Menu-list {
  list-style: none;
  margin: 0;
  padding: 0.75rem 0;
  display: flex;
  gap: 2rem;
}

.Menu-list :is(a, button) {
  display: block;
  color: var(--color-header-copy);
  text-decoration: none;
}

.Menu-list :is(a, button):is(:hover, :focus) {
  text-decoration: underline;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-width);
}

.Menu-list a[aria-current="true"] {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-width);
}

@media (max-width: 50rem) {
  .Menu-list {
    flex-direction: column;
  }
}

@media (max-width: 56em) {
  .Menu-list {
    gap: 1rem;
  }
}
