.Menu {
  display: flex;
  align-items: center;
}

.Menu-home {
  display: block;
  flex: 0 0 9.75rem;
}

.Menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.Menu-list :is(a, button) {
  display: flex;
  align-items: center;
  color: var(--color-header-copy);
  text-decoration: none;
  border: none;
}

.Menu-list :is(a, button):is(:hover, :focus) {
  text-decoration: underline;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-width);
}

.Menu-list a[aria-current="true"] {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-width);
}

@media (max-width: 60em) {
  .Menu-list {
    gap: 1rem;
  }
}

.Menu-subList {
  color: var(--color-accent-on-dark);
  list-style: "";
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.Menu-subList li {
  display: flex;
  align-items: center;
}

.Menu-subList-separator {
  border-block-start: var(--border) var(--color-secondary-on-dark);
}

@media (max-width: 48rem) {
  .Menu-list {
    flex-direction: column;
  }

  .Menu-subList {
    padding-inline-start: 0;
    padding-block-start: 1rem;
  }

  .Menu-subList li {
    gap: 1rem;
  }

  .Menu-subList-separator {
    margin-block-start: .5rem;
    padding-block-start: 1rem;
  }
}

@media (min-width: 48.0625rem) {
  .Menu-list li {
    position: relative;
    justify-content: space-between;
    gap: 2rem;
  }

  .Menu-list :is(a, button) {
    block-size: var(--height);
  }

  .Menu-subList {
    display: none;
    position: absolute;
    inset-block-start: var(--height);
    inset-inline-start: -1rem;
    background: var(--color-header-bg);
    padding: 0 1rem 1rem;
  }

  .Menu-list li:has(.Menu-subList):is(:hover, :focus-within) .Menu-subList {
    display: flex;
  }

  .Menu-subList :is(a, button) {
    block-size: auto;
  }

  .Menu-subList-separator {
    padding-block-start: .5rem;
  }
}
