[aria-expanded="false"] ~ .MenuMega {
	display: none;
}

[aria-expanded="true"] ~ .MenuMega {
	display: flex;
}

.MegaMenu-link--lvl2 {
	padding-block: 0.25em;
}

.MenuMega-list + .MenuMega-list {
	margin-block-start: 1.5rem;
}

.MenuMega-header {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.MegaMenu-link--lvl1 + ul {
	margin-block-start: 0.5rem;
}

@media (max-width: 54rem) {
	.MenuMega {
		--page-spacing: 0;

		border-block-start: var(--border) var(--divider-color);
	}

	.MenuMain-link--mega {
		display: flex;
		inline-size: 100%;
		justify-content: space-between;
		align-items: center;
		padding-block: 1rem;
	}

	.MegaMenu-link--lvl1 {
		font-size: 1rem;
		color: var(--color-secondary);
	}

	.MenuMega-header {
		padding-block: 1rem;
		align-items: center;
	}

	.MenuMega-headerTitle .h2 {
		display: none;
	}

	.MenuMega-container {
		padding-block-end: 1rem;
	}

	.MenuMega-container > div + div {
		margin-block-start: 1.5rem;
	}
}

@media (min-width: 54.0625rem) {
	.MenuMega {
		inset-inline: 0;
		background: var(--color-menu-bg);
		padding-block-start: 2rem;
	}

	.MenuMega > div {
		flex: 1;
	}

	.MenuMega-header {
		padding-block-end: 1rem;
		margin-block-end: 1rem;
		border-block-end: var(--border) rgba(255, 255, 255, 0.1);
		align-items: start;
	}

	.MenuMega-headerTitle a {
		transform: translateY(-0.2rem);
		margin-inline-start: 1rem;
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: var(--underline-width);
		font-size: 0.875rem;
	}

	.MenuMega-headerTitle .h2 {
		margin-block: 0;
		color: #fff;
	}

	.MenuMega-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		padding-block-end: 2rem;
	}
}
