.MenuMain-link {
	white-space: nowrap;
}

.MenuMain-link svg {
	aspect-ratio: 13 / 8;
	transition: transform 0.25s ease;
	block-size: 0.5em;
	flex: 0 0 calc(0.5em * 13 / 8);
}

.MenuMain-link[aria-expanded="true"] svg {
	transform: rotate(0.5turn);
}

.MenuMain-link--account > * {
	flex-shrink: 0;
}

@media (width < 58.5rem) {
	.MenuMain .MenuMain-item + .MenuMain-item,
	.MenuAccount {
		border-block-start: var(--border) var(--divider-color);
	}

	.MenuMain-link span {
		font-size: 1.2rem;
		font-weight: 600;
		color: #fff;
	}
}

@media (width >= 58.5rem) {
	.MenuMain-link {
		display: flex;
		align-items: center;
		block-size: var(--header-menu-height);
		gap: 0.5rem;
		border-radius: 0;
	}

	.MenuMain-link {
		position: relative;
		padding-inline: 0.75rem;
	}

	.MenuMain-link--mega {
		padding-inline: 1.5rem;
	}

	.MenuMain-link:is([aria-current="true"], [aria-current="page"]) {
		background: var(--color-menu-main-active-bg);
		color: var(--color-menu-main-active-copy);
	}

	.MenuMain-link[aria-expanded="true"] {
		background: var(--color-menu-bg);
		color: #fff;
	}

	.MenuMain-item--account {
		position: relative;
	}
}

@media (width >= 58.5rem) and (width < 64rem) {
	.MenuMain-link--mega {
		padding-inline: 1rem;
	}
}
