@media (max-width: 50rem) {
	.MenuMain-item {
		margin-block-start: 2rem;
		padding-block-start: 2rem;
		border-block-start: var(--border) var(--divider-color);
	}
}

@media (min-width: 50.0625rem) {
	.MenuMain-link {
		display: flex;
		align-items: center;
		block-size: var(--header-height);
	}

	.MenuMain-link[aria-expanded="true"] {
		background: var(--color-menu-bg);
	}

	.MenuMain-item--account {
		position: relative;
	}
}

@media (min-width: 50rem) and (max-width: 54rem) {
	.MenuMain-link {
		padding-inline: 0.75rem;
	}
}

@media (min-width: 54.0625rem) {
	.MenuMain-link {
		padding-inline: 1.5rem;
	}
}
