@import "./menu-account.css";
@import "./menu-main.css";
@import "./menu-mega.css";

.Menu {
	display: flex;
	align-items: center;
}

.Menu-home {
	display: block;
	flex: 0 0 9.75rem;
}

.MenuList {
	display: flex;
}

.Menu-subList {
	list-style: "";
	display: flex;
}

.Menu-subList small {
	color: var(--color-accent-on-dark);
}

.Menu-subList-separator {
	border-block-start: var(--border) var(--divider-color);
}

.MegaMenu {
	flex: 1;
}

@layer {
	.MegaMenu ul {
		list-style: "";
		padding: 0;
	}

	.MenuList,
	.MenuList ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.MenuList :where(a, button) {
		display: inline-flex;
		color: var(--color-header-copy);
		text-decoration: none;
		border: none;
	}

	.MenuList :where(a, button):hover span {
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: var(--underline-width);
	}

	.MenuList :is([aria-current="true"], [aria-current="page"]) span {
		text-decoration: underline;
		text-underline-offset: var(--underline-offset);
		text-decoration-thickness: var(--underline-width);
	}

	.MenuList [aria-current="true"] span {
		color: #fff;
	}

	.MenuList [aria-current="page"] span {
		color: var(--color-accent);
	}

	.Menu-link--lvl1 {
		font-size: 1.2rem;
		font-weight: 600;
		color: #fff;
	}
}

@media (max-width: 50rem) {
	.MenuList {
		flex-direction: column;
		flex: 1;
		gap: 0.5rem;
	}

	.Menu-link--lvl1 + ul {
		padding-inline-start: 1rem;
	}

	.Menu-subList {
		display: flex;
	}

	.Menu-subList > div {
		flex: 1;
	}

	.Menu-subList :where(a, button) {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

@media (min-width: 50.0625rem) {
	.Menu-subList {
		position: absolute;
		inset-block-start: var(--height);
		background: var(--color-menu-bg);
		max-block-size: calc(100dvb - var(--header-height));
		overflow-y: auto;
		box-sizing: border-box;
		overscroll-behavior: contain;
	}
}
