.MenuAccount-list {
	flex-direction: column;
	gap: 0.5rem;
}

.MenuAccount-list li {
	display: flex;
	align-items: center;
}

@media (width < 58.5rem) {
	.Menu-subList-separator {
		padding-block-start: 1rem;
	}

	.MenuAccount {
		gap: 1rem;
		padding-block-start: 1rem;
	}

	.MenuAccount-list {
		display: flex;
		padding-block-start: 1rem;
	}
}

@media (width >= 58.5rem) {
	[aria-expanded="false"] ~ .MenuAccount-list {
		display: none;
	}

	[aria-expanded="true"] ~ .MenuAccount-list {
		display: flex;
	}

	.MenuAccount-list {
		inset-inline-end: 0;
		min-inline-size: 12rem;
		padding: 1rem;
	}

	.MenuAccount-item:is(:hover, :focus-within) {
		background: var(--color-menu-bg);
	}

	.MenuAccount-list li > * {
		flex: 1;
	}

	.MenuAccount-list :where(a, button) {
		display: flex;
		inline-size: 100%;
		justify-content: space-between;
		align-items: center;
		block-size: auto;
	}

	.Menu-subList-separator {
		padding-block-start: 0.5rem;
		border-block-start: var(--border) var(--divider-color);
	}
}
