.MetaLinks {
	list-style: "";
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em 1em;
}

.MetaLinks :is(a, button):not(:is(dialog *)) {
	text-decoration: underline;
}

td .MetaLinks {
	justify-content: end;
}
