.PageActions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

.PageActions:has(.PageAction:nth-child(2)) {
	justify-content: space-between;
}

.PageActions--divider {
	margin-block-start: 3rem;
	border-block-start: var(--border-light);
	padding-block-start: 3rem;
}

@media (width < 32rem) {
	.PageActions {
		margin-block-start: 2rem;
	}
}

@media (width >= 32rem) {
	.PageActions {
		margin-block-start: 4rem;
	}
}
