.ProductListing {
	margin-block-start: 1rem;
	container: listing / inline-size;
}

@container listing (width < 30rem) {
	.ProductListing table {
		display: none;
	}

	.ProductList {
		list-style: "";
		padding: 0;
		margin: 0;
	}

	.ProductList-item:nth-child(odd) {
		background: var(--color-bg2);
	}

	.ProductList-item {
		border-block-end: var(--border-light);
		padding: 0.75rem;
	}

	.ProductList-item:first-child {
		border-block-start: var(--border-light);
	}

	.ProductList-name {
		line-height: 1.5;
	}

	.ProductList-categories {
		color: var(--color-secondary);
		font-size: 0.875em;
		margin-block: 0.25rem 0;
	}
}

@container listing (width >= 30rem) {
	.ProductList {
		display: none;
	}
}
