.Sidebar-userName figcaption {
	color: #fff;
}

.Sidebar-userName h1 {
	font-weight: 600;
	line-height: 1.1;
}

.Sidebar-userName small {
	display: block;
	color: var(--color-accent-on-dark);
}

.Sidebar-userName small b {
	color: var(--color-secondary-on-dark);
}

.Sidebar-menu {
	display: flex;
	flex-direction: column;

	&,
	& ul {
		list-style: "";
		padding: 0;
		margin: 0;
	}

	[data-user-count] {
		margin-inline-start: 0.25rem;
		font-size: 0.875em;
		color: var(--color-secondary);
	}

	li {
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
		margin-inline: -0.5rem;
	}

	li:has(> :is([aria-current="page"], [aria-current="true"])) {
		font-weight: 600;
		background: var(--color-blue-250);
		border-radius: var(--border-radius);
	}

	svg {
		width: 1.25em;
		margin-inline-end: 0.25rem;
		stroke: var(--color-secondary);
	}

	> li {
		&:not(:first-child) {
			margin-block-start: 0.25rem;
		}

		ul {
			font-size: 0.875em;
			padding-inline-start: 1.75rem;
			padding-block: 0.25rem;
		}
	}
}

.Sidebar-menu--account {
	flex-wrap: wrap;
	flex-direction: row;

	li {
		flex: 0 0 calc(50% - 0.25rem);
	}
}

.Sidebar-link {
	text-decoration: none;
}

.Sidebar-link:is(:hover, :focus) {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	text-decoration-thickness: var(--underline-width);
}

.Sidebar-link:is([aria-current="true"], [aria-current="page"]) {
	font-weight: 600;
}

li:has(> .Sidebar-link:is([aria-current="true"], [aria-current="page"])) {
	background-color: var(--color-bg3);
	padding-inline: 0.5rem;
	margin-inline: -0.5rem;
	border-radius: var(--border-radius);
}

@media (width < 48rem) {
	.Sidebar-userName {
		padding-block: 0.75rem;
	}

	.Sidebar-userName h1 {
		font-size: 1.125rem;
		margin-block-end: 0.25rem;
	}

	.Sidebar-menu {
		padding-inline: var(--page-spacing);
		padding-block: 1rem;
	}

	.Sidebar-link:is([aria-current="true"], [aria-current="page"]) {
		color: #fff;
	}

	.Sidebar-menu + .Sidebar-menu {
		border-block-start-color: var(--color-transparency-25);
	}
}

@media (width >= 48rem) {
	.Sidebar {
		background: var(--color-bg2);
		border-radius: var(--border-radius);
		border: var(--border-light);
		padding: 2rem;
	}

	.Sidebar-toggle {
		display: none;
	}

	.Sidebar-userName {
		margin: -2rem;
		margin-block-end: 1.5rem;
		position: relative;
	}

	.Sidebar-userName .Avatar {
		--size: 272 !important;

		inline-size: 100%;
	}

	.Sidebar-userName figcaption {
		position: absolute;
		inset-block-start: 50%;
		inset-block-end: 0;
		inset-inline: 0;
		background: linear-gradient(
			to bottom,
			transparent 0,
			hsla(204, 40%, 10%, 85%) 100%
		);
		padding-inline: 1rem;
		padding-block: 0.75rem;
		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	.Sidebar-userName h1 {
		font-size: 1.25rem;
		margin-block-end: 0.5rem;
	}

	.Sidebar-userName picture {
		display: block;
		margin-block-end: 1rem;
		inline-size: 100%;
	}

	.Sidebar-userName img {
		aspect-ratio: 1;
		block-size: auto;
		inline-size: 100%;
	}
}
