.Symbols {
	display: flex;
	gap: 0.625em;
	min-inline-size: 1.5em;
	justify-content: flex-end;
	font-size: 0.8125rem;
}

.Symbols-item {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.Symbol {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	background: var(--color-invalid-bg);
	color: var(--color-invalid-copy);
	border: 2px solid;
	border-radius: var(--border-radius);
	font-weight: 600;
	padding-inline: 0.5em;
	font-size: 0.875em;
}

.IconSymbol {
	display: flex;
	align-items: center;
	justify-content: center;
	block-size: 1.85em;
	inline-size: 1.85em;
	box-sizing: border-box;
	line-height: 1;
	cursor: default;
}

.IconSymbol--positive {
	stroke: var(--color-success-copy);
	fill: var(--color-success-bg);
}

.IconSymbol--negative {
	stroke: var(--color-invalid-copy);
	fill: var(--color-invalid-bg);
}

.IconSymbol--bookmark {
	stroke: var(--color-bookmark-copy);
	fill: var(--color-bookmark-bg);
}

.IconSymbol--prevOwned {
	border: 2px solid;
	background: hsla(204, 20%, 40%, 10%);
	color: hsl(204, 20%, 40%);
	border-radius: 50%;
	font-weight: 700;
}

@media (prefers-color-scheme: dark) {
	.IconSymbol--prevOwned {
		color: hsl(204, 20%, 80%);
	}
}

:is(html:where([data-theme="dark"]), .is-dark) .IconSymbol--prevOwned {
	color: hsl(204, 20%, 80%);
}

.IconSymbol path {
	stroke-width: 1.5px;
}

.SymbolsLegends {
	container: legends / inline-size;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.SymbolsLegend {
	display: flex;
	gap: 1.5rem;
	margin-block: 4rem 0;
	font-size: 0.875em;
}

.SymbolsLegend-item {
	display: flex;
	align-items: center;
	gap: 0.75em;

	&.is-continued,
	&.is-discontinued {
		padding-inline-end: 0.75em;
	}

	&.is-continued {
		background: var(--color-bg2);
		border: 0.0625rem solid transparent;
	}

	&.is-discontinued {
		border: 0.0625rem dashed var(--color-transparency-15);
	}
}

@container legends (width < 46em) {
	.SymbolsLegend {
		flex-direction: column;
	}
}
