@layer {
  nav + :is(table, table-saw) {
    margin-block-start: 2rem;
  }

  table {
    border-collapse: collapse;
    inline-size: 100%;
    table-layout: fixed;
  }

  tbody tr:nth-child(odd) {
    background: var(--color-bg2);
  }

  th {
    text-align: start;
  }

  thead th {
    color: var(--color-secondary);
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    vertical-align: top;
  }

  th small {
    font-weight: normal;
  }

  td,
  tbody th {
    vertical-align: center;
  }

  th,
  td {
    border-block-end: var(--border-light);
    padding-block: 0.75rem;
    padding-inline: 0.5rem;
  }

  :is(th, td):not(:last-child) {
    padding-inline-end: 1rem;
  }

  .Table-products {
    width: 7.5em;
  }

  .Table-symbols {
    width: 5em;
  }

  table .Symbols {
    justify-content: flex-end;
  }
}

@media (max-width: 39.9375em) {
  table-saw {
    table {
      inline-size: 100%;
    }

    tr {
      border-block-end: var(--border-light);
      padding-block: 1rem;
    }

    tr:last-child:is(accordion-tabs tr) {
      border-block-end: none;
    }

    :is(tbody, tfoot) tr {
      margin-block-end: 0 !important;
    }

    th,
    td {
      padding-block: 0;
      border-block-end: 0;
      background-color: transparent;
    }

    :is(tbody, tfoot) :is(th, td)::before {
      color: var(--color-secondary);
      font-size: 0.75em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: calc(var(--line-height) * 1rem);
    }

    .Table-products,
    .Table-symbols {
      width: auto;
    }

    .Symbols:has(.Symbols-item) {
      justify-content: flex-start;
      margin-block-start: 0.5rem;
    }
  }
}
