.u-container {
	max-inline-size: 78.5rem;
	margin-inline: auto;
	padding-inline: var(--page-spacing);
}

.u-flex {
	display: flex;
}

.u-flexWrap {
	flex-wrap: wrap;
}

.u-flexGrow {
	flex-grow: 1;
}

.u-spaceBetween {
	justify-content: space-between;
}

.u-flexWrap {
	flex-wrap: wrap;
}

.u-alignCenter {
	align-items: center;
	text-align: center;
}

.u-alignEnd {
	align-items: end;
	text-align: end;
}

.u-justifyEnd {
	justify-content: end;
}

.u-gap-sm {
	gap: 0.25rem;
}

.u-gap-md {
	gap: 1rem;
}

.u-gap-lg {
	gap: 3rem;
}

.u-gap-pageSpacing {
	gap: var(--page-spacing);
}

.u-underline {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	text-decoration-thickness: var(--underline-width);
}

.u-fontSmall {
	font-size: 0.875em;
}

.u-hiddenVisually {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.is-positive {
	background: var(--color-positive);
}

@media (max-width: 50rem) {
	.u-hide-sm {
		display: none;
	}
}

@media (min-width: 50.0625rem) {
	.u-hide-lg {
		display: none;
	}
}
