.u-container {
	max-inline-size: 86rem;
	margin-inline: auto;
	padding-inline: var(--page-spacing);
}

.u-grid {
	display: grid;
}

.u-block {
	display: block;
}

.u-flex {
	display: flex;
}

.u-flexWrap {
	flex-wrap: wrap;
}

.u-flexGrow {
	flex-grow: 1;
}

.u-spaceBetween {
	justify-content: space-between;
}

.u-flexWrap {
	flex-wrap: wrap;
}

.u-alignCenter {
	align-items: center;
}

.u-alignStart {
	align-items: start;
}

.u-alignEnd {
	align-items: end;
	text-align: end;
}

.u-justifyEnd {
	justify-content: end;
}

.u-gap-sm {
	gap: 0.25rem;
}

.u-gap-md {
	gap: 1rem;
}

.u-gap-lg {
	gap: 3rem;
}

.u-gapX-lg {
	gap: 0 3rem;
}

.u-gap-pageSpacing {
	gap: var(--page-spacing);
}

.u-underline {
	text-decoration: underline;
	text-underline-offset: var(--underline-offset);
	text-decoration-thickness: var(--underline-width);
}

.u-fontSmall {
	font-size: 0.875em;
}

.u-noWrap {
	white-space: nowrap;
}

.u-hiddenVisually {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.u-relative {
	position: relative;
}

.u-textCenter {
	text-align: center;
}

.u-textEnd {
	text-align: end;
}

.u-textUnderline {
	text-decoration: underline;
}

@media (width < 54rem) {
	.u-hide-sm {
		display: none;
	}
}

@media (width >= 54rem) {
	.u-hide-lg {
		display: none;
	}
}

.u-breakpoint {
	container: listing / inline-size;
}

@container listing (width < 32rem) {
	.u-breakpoint--xs > .u-breakpoint-item-l {
		display: none;
	}
}

@container listing (width >= 32rem) {
	.u-breakpoint--xs > .u-breakpoint-item-s {
		display: none;
	}
}

@container listing (width < 40rem) {
	.u-breakpoint--s > .u-breakpoint-item-l {
		display: none;
	}
}

@container listing (width >= 40rem) {
	.u-breakpoint--s > .u-breakpoint-item-s {
		display: none;
	}
}

@container listing (width < 48rem) {
	.u-breakpoint--m > .u-breakpoint-item-l {
		display: none;
	}
}

@container listing (width >= 48rem) {
	.u-breakpoint--m > .u-breakpoint-item-s {
		display: none;
	}
}

@container listing (width < 56rem) {
	.u-breakpoint--l > .u-breakpoint-item-l {
		display: none;
	}
}

@container listing (width >= 56rem) {
	.u-breakpoint--l > .u-breakpoint-item-s {
		display: none;
	}
}

.c-secondary {
	color: var(--color-secondary);
}
