<table style="background-color: #0F1C24; text-align: center;">
  <tr>
    <td valign="middle">
      <a href="https://www.hifilog.com" style="padding-top: 10px; padding-bottom: 10px; display: block; margin-left: auto; margin-right: auto;">
        <img src="https://www.hifilog.com/newsletter/logo.png" alt="HiFi Log" style="display: block; margin-left: auto; margin-right: auto; width: 156px; height: 23px;">
      </a>
    </td>
  </tr>
</table>
